.breadcrumb {
	padding-bottom: $breadcrumb-padding-bottom;
	background: $breadcrumb-bg;
	font-size: $breadcrumb-font-size;
	padding-left: $breadcrumb-padding-left;
	margin-bottom: $breadcrumb-margin-bottom;
}