/*price table*/
.btn-dark {
	color: #fff;
	background-color: $btn-dark-color;
	border-color: $btn-dark-color;
	&:hover {
		color: #fff;
		background-color: $btn-dark-hover-color;
		border-color: $btn-dark-hover-color;
	}
	&:focus, &.focus {
		color: #fff;
		background-color: $btn-dark-hover-color;
		border-color: $btn-dark-hover-color;
		background-image: none;
	}
	&:active, &.active {
		color: #fff;
		background-color: $btn-dark-hover-color;
		border-color: $btn-dark-hover-color;
		background-image: none;
	}
}
.btn-royal {
	color: #fff;
	background-color: $btn-royal-color;
	border-color: $btn-royal-color;
	&:hover {
		color: #fff;
		background-color: $btn-royal-hover-color;
		border-color: $btn-royal-hover-color;
	}
	&:focus, &.focus {
		color: #fff;
		background-color: $btn-royal-hover-color;
		border-color: $btn-royal-hover-color;
	}
	&:active, &.active {
		color: #fff;
		background-color: $btn-royal-hover-color;
		border-color: $btn-royal-hover-color;
		background-image: none;
	}
}
.btn-static {
	color: #fff;
	background-color: $btn-static-color;
	border-color: $btn-static-color;
	&:hover {
		color: #fff;
		background-color: $btn-static-hover-color;
		border-color: $btn-static-hover-color;
	}
	&:focus, &.focus {
		color: #fff;
		background-color: $btn-static-hover-color;
		border-color: $btn-static-hover-color;
	}
	&:active, &.active {
		color: #fff;
		background-color: $btn-static-hover-color;
		border-color: $btn-static-hover-color;
		background-image: none;
	}
}

/*social share*/
.btn-share {
	background-color: #BEBEBE; 	//
	border-color: #CCCCCC;		// Not called in template
	color: #333333;				//
}

.btn-twitter {
	background-color: $btn-twitter-bg-color !important;
	width: $btn-share-width;
	color: $btn-font-color;
}

.btn-facebook {
	background-color: $btn-facebook-bg-color !important;
	width: $btn-share-width;
	color: $btn-font-color;
}

.btn-google {
	background-color: $btn-google-bg-color !important;
	width: $btn-share-width;
	color: $btn-font-color;
}

.btn-linkedin {
	background-color: $btn-linkedin-bg-color !important;
	width: $btn-share-width;
	color: $btn-font-color;
}

.btn-pinterest {
	background-color: $btn-pinterest-bg-color !important;
	width: $btn-share-width;
	color: $btn-font-color;
}

.btn-mail {
	background-color: $btn-mail-bg-color !important;
	width: $btn-share-width;
	color: $btn-font-color;
}

// Popover button
.btn-pop {
	background-color: $popover-btn-color;
	color: $pop-btn-font-color;
}