#toplist-featured-standalone {

  .featured {
    position: relative;
    text-align: center;
    //height: auto;
    background-color: $item-featured-v1-bg-color;
    padding: 10px;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    //margin-bottom: 20px;
    .list:nth-child(1) {                      // bottom feature #1
      text-align: center;
      img {
        width: 100%;
      }
    }
    .list:nth-child(2) {                      // bottom feature #2

      color: $item-featured-v1-description-color;
      padding: 10px 0 0 10px;
      text-align: left;
      span:nth-of-type(1) {
        font-size: $item-featured-v1-casino-name-font-size;
        display: block;
      }
      i {
        color: $item-featured-v1-star-rating-color;
      }
      span {
        font-size: $item-featured-v1-description-font-size;
      }
    }
    .list:nth-child(3) {                      // bottom feature #3
      margin: auto;
      color: $item-featured-v1-bonus-font-color;
      padding: $item-featured-v1-bonus-padding;
      //top: 20px;


      span {
        &:nth-of-type(1){
          font-size: $item-featured-v1-bonus-top-size;
          font-weight: 500;
          display: block;
          text-align: center;
        }
        &:nth-of-type(2){
          font-size: $item-featured-v1-bonus-mid-size;
          font-weight: 500;
          display: block;
          text-align: center;

        }
        &:nth-of-type(3){
          font-size: $item-featured-v1-bonus-bottom-size;
          font-weight: 500;
          display: block;
          text-align: center;
          margin-top: -10px;
        }
      }
    }
    .list:nth-child(4) {                      // bottom feature #4
      padding: $item-featured-v1-software-padding;
      color: $item-featured-v1-software-color;
      display: block;
      span {
        display: block;
        font-size: $item-featured-v1-software-font-size;
      }
      img {
        width: 15px;
        height: 12px;
      }
    }

    .list:nth-child(5) {                      // bottom feature #5
      text-align: center;
      padding: $item-featured-v1-review-padding;
      display: block;
      .review {
        padding-top: 5px;
        font-size: 11px;
        font-weight: 900;
        display: block;
        text-transform: uppercase;
      }
      .btn {
        margin: 10px;
        font-size: 15px;
      }
    }
  }

}
