#item-mast-v2 {
  padding: 50px;
  background-color: $item-mast-v2-bg-color;
  .row {
    .logo-bg {
      background-color: yellow;
      text-align: center;
      padding: 30px 15px;
      border-radius: $item-mast-v2-logo-border-radius;
    }
    div {

      &:nth-of-type(2) {
        color: $item-mast-v2-description-font-color;
        .casino {
          font-size: $item-mast-v2-casino-font-size;
          color: $item-mast-v2-casino-font-color;
        }
        span:nth-of-type(2) {
          i {
            color: $item-mast-v2-rating-color;
            margin-bottom: 20px;
          }
        }
      }
      &:nth-of-type(3) {

        text-align: center;
        span:nth-of-type(1) {
          text-transform: uppercase;
          color: $item-mast-v2-sign-up-font-color;
          font-size: $item-mast-v2-sign-up-font-size;
        }
        span:nth-of-type(2) {
          color: $item-mast-v2-bonus-font-color;
          font-size: $item-mast-v2-bonus-font-size;
        }

      }
    }
  }

}
