
#item-featured-v2 {

  .col-lg-3, .col-md-12, .col-sm-12 {
    padding: 0;
  }


  .featured {
    height: 68px * 6 + 51;
    text-align: center;
    padding: 10px;
    background-color: $games-payout-featured-bg;
    color: $games-payout-featured-text-color;

    .row {
      div {
        &:nth-of-type(1) {
          padding-bottom: 15px;
        }
        &:nth-of-type(2) {
          position: relative;
          top: 10px;
          span:nth-of-type(1) {
            img {
              width: 100%;
              z-index: 10;
            }
            display: block;
            position: absolute;
            top: calc(50% - #{$games-payout-logo-width / 2});
            left: calc(50% - #{$games-payout-logo-width / 2});
          }
          span:nth-of-type(2) {
            //
          }
        }
        &:nth-of-type(3) {
          top: 25px;
          padding: 10px;
          span {
            font-size: $games-payout-feature-bonus-size;
          }
        }
        &:nth-of-type(4) {
          top: 20px;
          ul {
            font-size: 15px;
            padding: 0;
          }
        }
        &:nth-of-type(5) {
          top: 30px;
          padding: 10px;
          .btn {
            background-color: whitesmoke;
          }
        }
      }
    }

    .title {
      font-size: 20px;
      margin-bottom: 20px;
    }

    .list {
      margin: 10px 10px 10px 10px;
      padding: 20px;
      font-size: 10px;
      list-style: none;
      margin-bottom: 30px;
    }




  }


}
