#item-mast-v1 {

	div {
		background-color: $mast-v1-bg;
		padding: $mast-v1-padding;
		border-radius: $mast-v1-border-radius;
		.logo-bg {
			background-color: $mast-v1-logo-bg-color;
			text-align: center;
			border-radius: 10px;
			padding: 50px;
			i {
				color: $mast-v1-rating-color;
			}
		}
		.info {
			color: $mast-v1-font-color;
			text-align: center;
			.casino-name {
				font-size: $mast-v1-title-size;
				font-weight: $mast-v1-title-weight;
				color: $mast-v1-title-color;
			}
			.bonus {
				font-size: $mast-v1-bonus-size;
				color: $mast-v1-bonus-color;
				font-weight: $mast-v1-bonus-weight;
				text-transform: $mast-v1-bonus-text-transform;
			}
		}
	}

}
