#menu-list-group {
  .list-group {
    .list-group-item {
      font-size: $list-group-size;
      background-color: $list-group-bg;
      a {
        color: $list-group-text-color;
      }
    }
  }
}
