#menu-list-group {
  box-shadow: $wrapper-box-shadow;
  .list-group {
    margin: $list-group-margin;
    .list-group-item {
      font-size: $list-group-item-font-size;
      background-color: $list-group-item-bg-color;
      border: $list-group-border;
      a {
        color: $list-group-item-font-color;
      }
    }

  }
}
