#news-list-full-width {
  margin-top: 60px;
    .news-list-wrap {
      background-color: $wrapper-bg;
      padding: 10px;
      .media {
        div {
          a {
            img {
              //width: 100%;
            }
          }
        }
        .media-body {

        }
      }
    }

}
