#news-list-grid {
  .list-heading {
    font-size: $news-list-grid-list-heading-font-size;
		padding-left: 15px;
  }
  .news-list-wrap {
		margin-bottom: 30px;
    background-color: $news-list-grid-bg-color;
    padding: 10px;
    border-top: $news-list-grid-border;
    border-left: $news-list-grid-border;
    border-right: $news-list-grid-border;
    &:last-child {
      border-bottom: $news-list-grid-border;
    }
    .media {
      .media-body {
        .media-heading {
          font-size: $news-list-grid-heading-font-size;
          a {
            color: $news-list-grid-heading-link-color;
          }
        }
        .date {
          font-size: $news-list-grid-date-font-size;
          color: $news-list-grid-date-font-color;
          font-weight: $news-list-grid-date-font-weight;
          color: $news-list-grid-date-font-weight;
        }
        .description {
          font-size: $news-list-grid-description-font-size;
          color: $news-list-grid-description-font-color;
        }
        .review {
          font-size: $news-list-grid-review-font-size;
          text-transform: $news-list-grid-review-text-transform;
          color: $news-list-grid-review-font-color;
					margin-top: 10px;
					display: block;
        }
      }
    }
  }

}
