// style sheet for cs58_sidebar_components
.wrap {

  .sidebar-components {
    div {
      padding: 10px;
      ul {
        li {
          list-style: none;
          padding: 5px;
        }
      }
      h5 {
        padding: 10px;
        background-color: lightgray;
        font-weight: 600;
      }
    }
  }
}
