#softwarelist-compare-two {
  position: relative;
  .vs {
    position: absolute;
    font-size: $software-vs-vs-font-size;
    text-align: center;
    height: $software-vs-vs-width;
    width: $software-vs-vs-width;
    background-color: $software-vs-vs-bg-color;
    color: $software-vs-vs-text-color;
    z-index: 10;
    left: calc(50% - #{$software-vs-vs-width / 2});
    top: calc(50% - #{$software-vs-vs-width / 2});
    //padding: 10px;
    border-radius: 50%;
    border: $software-vs-border;
    padding: 8px 0;
  }
  .heading {
    .row {
      background-color: $software-vs-heading-bg-color;
      text-align: center;
      padding: 10px;
      border-top: $software-vs-border;
      border-right: $software-vs-border;
      border-left: $software-vs-border;
      a {
        color: $software-vs-heading-link-color;
        font-size: $software-vs-link-size;
      }
    }
  }
  .logo {
    padding: 10px;
    background-color: $sofwarelist-logo-bg;
    border: $software-vs-border;
    img {
      width: 100%;
      height: auto;
      box-shadow: $wrapper-box-shadow;
    }
  }
  .item {
    margin-bottom: 50px;    // this margin makes space for the 'vs' when stacked on small screens
    .row {
      border-bottom: $software-vs-border;
      border-right: $software-vs-border;
      border-left: $software-vs-border;
      padding: 10px;
      &:nth-child(odd) {
        background-color: $software-vs-row-bg-odd;
      }
      &:nth-child(even) {
        background-color: $software-vs-row-bg-even;
      }
      &:nth-of-type(6) {
        div {
          padding: 0;
        }
        padding: 0;
        text-align: center;
        .btn {
          width: 100%;
          border-radius: 0;
        }
      }
    }
  }
}
