.star-lg {
	i {
		color: $star-rating-color;
		font-size: $starratingfontsize-lg !important;
	}
}
.star-md {
	i {
		color: $star-rating-color;
		font-size: $starratingfontsize-md !important;

	}
}
.star-sm {
	i {
		color: $star-rating-color;
		font-size: $starratingfontsize-sm !important;
	}
}
