.star-lg {
	i {
		color: $theme1;
		font-size: $starratingfontsize_lg !important;
	}
}
.star-md {
	i {
		color: $theme1;
		font-size: $starratingfontsize_md !important;

	}
}
.star-sm {
	i {
		color: $theme1;
		font-size: $starratingfontsize_sm !important;
	}
}