#thumbnail-small {
	.thumbnail-hover {
		position: relative;
		a {
			img {
				width: 100%;
				border: 1px solid #333;
				border-radius: 3px;
			}
		}
		&:hover {
			a {
				img {
					filter: brightness(30%);
					transition: 0.3s;
				}
			}
		}

		.thumbnail-content-prt {
			//background-color: $thumbs-games-caption-bg;
			//border-radius: 4px;
			display: none;
			position: absolute;
			//margin: auto;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			.thumbnail-content{
				display: table-cell;
				vertical-align: middle;
				padding: 20px;
				margin: 100%;
				font-size: 15px;
				span {
					&:nth-of-type(1) {
						display: block;
						padding: 10px;
						a {
							color: $thumbs-games-link-color;
							font-size: $thumbs-games-link-size;
							font-weight: $thumbs-games-link-font-weight;
						}
					}
				}

			}
		}
		&:hover .thumbnail-content-prt {
			display: table;
		}
	}

	.thumbnail {
		padding: 0;
		background: $thumbs-games-bg-color;
		&:hover {
			background-color: darken($thumbs-games-bg-color, 10%);
		}
	}


}
