#thumbnail-casino {

	.thumbnail {
		box-shadow: 0 3px 7px 0 rgba(0, 0, 0, .5);
		border: $wrapper-border;
		background-color: $theme3;
		height: 350px;
		width: 100%;
		.star-md {
			padding-left: $star-rating-align;
		}

		.space-ten {
			padding: $casino-card-bottom-space;
		}
		.thumbnail-casino-hover {
			position: relative;
			.thumbnail-casino-content-prt {
				display: none;
				position: absolute;
				margin: auto;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				.thumbnail-casino-content{
					display: table-cell;
					vertical-align: middle;
					.btn{
						min-width: 124px;
					}
				}
			}
			&:hover .thumbnail-casino-content-prt {
				display: table;
			}
		}
		.ratings {
			i {
				color: gold;
			}
		}
		.caption {												// section below screenshot
			span {
				&:nth-of-type(1) {								// Bonus
					font-size: $thumbnail-bonus-size;
					font-weight: 800;
					//margin-left: -20px;
				}
				&:nth-of-type(2) {								// Casino name
					font-size: $thumbnail-casino-size;
					font-weight: 700;
					display: block;
					a {
						color: $dark-text-color;
					}
				}
				&:nth-of-type(3) {								// Description
					font-size: 11px;
				}


			}
		}

	}


}