#thumbnails-content {
  .btn-block {
    text-align: center;
  }

  .thumbnail {
    background-color: $theme3;
    padding: 20px;
    a {
      font-size: 25px;
    }
    &:hover {
      background: rgba(0,0,0,0.7);
      a {
        color: whitesmoke;
      }
    }
    .thumbnail-hover {
      position: relative;

      .thumbnail-content-prt {
        display: none;
        position: absolute;
        margin: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        .thumbnail-content{
          display: table-cell;
          vertical-align: middle;
        }
      }
      &:hover .thumbnail-content-prt {
        display: table;
      }
    }
  }

}

