#thumbnails-content {

  .btn-block {
    text-align: center;
  }

  .thumbnail {
    float: left;
    background-color: $games-captions-card-color;
    padding: 5px 5px 0 5px;
    height: 230px;
    .thumbnail-content {

    }
    &:hover {
      background: $games-captions-card-hover-color;

    }
    .thumbnail-hover {
      position: relative;

      a {
        img {
          width: 100%;
        }
      }

      .thumbnail-content {
        display: none;
        position: absolute;
        width: 100%;
        padding: 0 15px;
        top: calc(50% - 48px);
        .btn {
          width: 100%;
          margin-bottom: 15px;
        }
      }

      &:hover {
				a {
					img {
						filter: brightness(30%);
            transition: 0.2s;
					}
				}
        .thumbnail-content {
          display: block;
        }
			}



    }
  }
  .caption {
    position: relative;
    min-height: 70px;
    padding: 5px;
    .game-name {
      text-align: left;
      font-size: $games-captions-game-name-font-size;
      font-weight: $games-captions-game-name-font-weight;
      color: $games-captions-game-name-font-color;
    }
    i {
      color: $games-captions-star-rating-color;
    }
    .small-review {
      display: none;
      text-align: right;
      bottom: 5px;
      color: $games-captions-small-review-font-color;
    }
  }

}
