#toplist-security-overview {





  .heading {
    padding: 10px 0;
    background-color: $theme1;
    color: $light-text-color;
    font-size: 15px;
    .row {
      div:nth-of-type(1) {
        padding-left: 30px;
      }
    }
  }

  .item {
    .row {
      padding: 20px 0;

      &:nth-of-type(odd) {
        background-color: white;
      }
      &:nth-of-type(even) {
        background-color: lightgray;
      }
    }
  }





}
