#toplist-security-overview {





  .heading {
    padding: 10px 0;
    background-color: $toplist-security-heading-bg;
    color: $toplist-security-heading-text-color;
    font-size: 15px;
    border: $toplist-security-border;
    .row {
      div:nth-of-type(1) {
        padding-left: 30px;
      }
    }
  }

  .item {
    .row {
      padding: 20px 0;
      border-left: $toplist-security-border;
      border-right: $toplist-security-border;
      border-bottom: $toplist-security-border;

      &:nth-of-type(odd) {
        background-color: $toplist-security-row-color-odd;
      }
      &:nth-of-type(even) {
        background-color: $toplist-security-row-color-even;
      }
    }
  }





}
