// the below controls the styling of the overview toplist component

#toplist-overview {
  .heading {
    background-color: $toplist-overview-heading-bg;
    width: 100%;
    overflow: hidden;
    text-align: center;
    border: $toplist-overview-borders;
    padding: $toplist-overview-header-padding;
    font-size: $toplist-overview-heading-font-size;
    color: $toplist-overview-heading-text-color;
  }

  .item {
    .row {
      border-bottom: $toplist-overview-borders;
      border-left: $toplist-overview-borders;
      border-right: $toplist-overview-borders;
      text-align: center;
      padding: 10px 0 10px 0;

      &:nth-of-type(odd) {
        background-color: $toplist-overview-row-color-odd;
        &:hover {
          background-color: $toplist-overview-row-color-hover;
        }
      }
      &:nth-of-type(even) {
        background-color: $toplist-overview-row-color-even;
        &:hover {
          background-color: $toplist-overview-row-color-hover;
        }
      }
      .align {
        padding-top: 35px;
      }

      div:nth-of-type(2) {
        span {
          padding-bottom: 10px;
          padding-left: 0;
          padding-right: 0;
          display: block;
        }
      }
      div:nth-of-type(3) {
        span:nth-of-type(2) {
          font-size: $toplist-overview-bonus-font-size;
          color: $toplist-overview-bonus-color;
          font-weight: $toplist-overview-bonus-font-weight;
          display: block;
        }
      }
      div:nth-of-type(4) {
        span {
          font-size: $toplist-overview-software-font-size;
          color: $toplist-overview-software-color;
          font-weight: $toplist-overview-software-font-weight;
          display: block;
        }
      }
      div:nth-of-type(5) {
        span {
          font-size: $toplist-overview-payout-font-size;
          color: $toplist-overview-payout-color;
          font-weight: $toplist-overview-payout-font-weight;
          display: block;
        }
      }
      div:nth-of-type(6) {
        padding-top: 20px;
        .btn {
          margin-bottom: 10px;
        }
      }
    }



  }

  .logo {
    width: 100%;
  }


  .terms {
    background-color: $toplist-overview-heading-bg;
    border: $toplist-overview-borders;
    a {
      float: right;
      padding:20px;
      font-size: 16px;
      color: $toplist-overview-heading-text-color;
    }
    i {
      color: $toplist-overview-heading-text-color;
    }
  }
}
