.toplist {
	.row {
		padding-top: 1px;
	}
	.heading-wrap {

		background-color: $toplist-heading-bg;
		width: 100%;
		margin: 0;
		box-shadow: $toplist-heading-shadow;
		overflow: hidden;
		text-align: center;
		padding: $toplist-heading-padding;
		height: $toplist-heading-height;
		border: $wrapper-border;
	}
	.wrap {
		background-color: $toplist-body-bg;
		border: $wrapper-border;
		width: 100%;
		margin: 0;
		box-shadow: $toplist-body-shadow;
		overflow: hidden;
		text-align: center;
		padding: $toplist-body-padding;
		min-height: $toplist-body-min-height;
		&:hover {
			background-color: darken($toplist-body-bg, 5%);
		}
	}
	.heading {
		font-size: $toplist-heading-size;
		font-weight: $toplist-heading-weight;
		color: $toplist-heading-color;
		text-transform: uppercase;
		text-align: center;
	}
	.logo {
		display: block;
		width: 100%;
	}
	.title {
		text-align: center;
		display: block;
		width: 100%;
		font-size: $toplist-title-size;
		font-weight: 200;
		text-transform: uppercase;
		padding-top: $toplist-title-padding-top;
		a {
			color: $toplist-title-color;
		}
	}
	.rating-outer {
		float: left;
		height: $toplist-ranking-height;
		font-size: $toplist-ranking-font-size;
		color: $toplist-ranking-color;
		font-weight: 600;
		text-align: center;
		width: 100%;
	}
	.bonus {
		text-align: $toplist-bonus-text-align;
		display: block;
		text-transform: uppercase;
		width: $toplist-bonus-width;
		font-size: $toplist-bonus-font-size;
		font-weight: 200;
		padding: $toplist-bonus-padding;
	}
	.percent {
		display: block;
		font-size: $toplist-percent-font-size;
		font-weight: 600;
		padding: $toplist-percent-padding;
	}
	.payout {
		display: block;
		font-size: $toplist-payout-font-size;
		font-weight: 600;
		padding: $toplist-payout-padding;
	}
	.button {
		text-align: center;
		display: block;
		width: 100%;
		padding: $toplist-button-padding;
	}
	.more {
		background-color: $toplist-footer-bg-color;
		padding: $toplist-footer-padding;
		span {
			font-size: $toplist-footer-font-size;
			cursor: pointer;
			position: relative;
			top: 20%;
			display: block;
			font-weight: 500;
		}
		i {
			color: $toplist-footer-icon-color;
			margin-left: $toplist-footer-icon-margin-left;
		}
		&:hover {
			background-color: $toplist-footer-bg-color;		// footer stays same color when hover
		}
	}
	.more-a {
		color: $toplist-footer-icon-color;
	}




	.rank {								// unsure | not called in template
		position: absolute;
		left: 5px;
		top: 5px;
		width: 36px;
		height: 30px;
		background-color: #121212;
		border-radius: 6px 0 6px;
		font-size: 12px;
		color: #fff;
		font-weight: 600;
		text-align: center;
		padding-top: 3px;
	}
	.rating {							// unsure | not called in template
		text-align: center;
		display: block;
		color: #121212;
		width: 100%;
		font-size: 20px;
		padding-top: 14px;
	}
	.review {							// unsure | not called in template
		text-align: center;
		display: block;
		font-size: 12px;
		width: 100%;
		padding-top: 14px;
	}

}