#toplist-payment-methods {
  padding: 0;
  display: block;

  .more {
    margin-bottom: 10px;
  }
  .heading {
    //border: 1px solid #333;
    padding: $payment-methods-heading-padding;
    background-color: $payment-methods-heading-bg;
    text-align: center;
    font-size: $payment-methods-heading-size;
    color: $payment-methods-heading-text-color;
    border: $payment-methods-border;
    .row {
      div:nth-of-type(7) {
        right:10px;
      }
    }


  }
  .item {
    //border-left: 1px solid;
    display: block;

    .row {
      padding: 25px 0 25px 0;
      border-left: $payment-methods-border;
      border-right: $payment-methods-border;
      border-bottom: $payment-methods-border;

      div {

        text-align: center;
        font-size: $payment-methods-font-size;

        &:nth-of-type(1) {
          text-align: left;
          a {
            font-size: $payment-methods-a-size;
          }
          span {
            display: block;
          }
        }
        &:nth-of-type(9) {
          .btn {
            width: 100%;
          }
        }

      }
    }


    .row:nth-child(even) {
      background-color: $payment-methods-row-color-even;
    }
    .row:nth-child(odd) {
      background-color: $payment-methods-row-color-odd;
    }


  }

}
