#toplist-v1 {
	.toplist {

		.heading-wrap {

			background-color: $toplist-v1-heading-bg;
			width: 100%;
			margin: 0;
			overflow: hidden;
			padding: $toplist-v1-heading-padding;
			border: $toplist-v1-border;

			div {
				font-size: $toplist-v1-heading-font-size;
				text-align: center;
				color: $toplist-v1-heading-text-color;
			}
			.casino-title {
				text-align: left;
			}



		}
		.item {
			background-color: $toplist-v1-item-bg-color;
			border-left: $toplist-v1-border;
			border-right: $toplist-v1-border;
			border-bottom: $toplist-v1-border;
			width: 100%;
			margin: 0;
			overflow: hidden;
			text-align: center;
			padding: $toplist-v1-item-padding;
			&:hover {
				background-color: darken($toplist-v1-item-bg-color, 20%);
			}

			div {
				&:nth-of-type(1) {
					.logo {
						display: block;
						width: 100%;
					}
				}
				&:nth-of-type(2) {
					.title {
						text-align: left;
						display: block;
						width: 100%;
						font-size: $toplist-v1-title-size;
						font-weight: 200;
						text-transform: uppercase;
						padding: $toplist-v1-title-padding;
						a {
							color: $toplist-v1-title-color;
						}
					}
					.rating-outer {
						float: left;
						font-weight: 600;
						text-align: left;
						width: 100%;
						i {
							color: $toplist-v1-rating-color;
						}
					}
				}
				&:nth-of-type(3) {
					.bonus {
						text-align: center;
						display: block;
						text-transform: uppercase;
						font-size: $toplist-v1-bonus-font-size;
						font-weight: $toplist-v1-bonus-weight;
						padding: $toplist-v1-bonus-padding;
						color: $toplist-v1-bonus-color;
					}
				}
				&:nth-of-type(4) {
					.percent {
						font-size: $toplist-v1-percent-font-size;
						font-weight: 400;
						padding: $toplist-v1-percent-padding;
					}
				}
				&:nth-of-type(5) {
					.payout {
						font-size: $toplist-v1-payout-font-size;
						font-weight: 400;
						padding: $toplist-v1-payout-padding;
					}
				}
				&:nth-of-type(6) {
					.button {
						text-align: center;
						display: block;
						width: 100%;
						padding: $toplist-v1-button-padding;
						margin-bottom: 10px;
					}
					.review {
						//
					}
				}
			}

		}
		.more {
			background-color: $toplist-v1-heading-bg;
			padding: 30px;
			text-align: center;
			span {
				font-size: $toplist-v1-footer-font-size;
				cursor: pointer;
				position: relative;
				top: 20%;
				display: block;
				font-weight: 500;
			}
			i {
				color: $toplist-v1-footer-icon-color;
				margin-left: 5px;
			}
			.more-a {
				color: $toplist-v1-footer-icon-color;
			}
		}

	}

}
