// the below controls the styling of the overview toplist component

#toplist-overview {
  .row {
    background-color: $toplist-overview-row-color-even;
  }
  .row:nth-of-type(even) {
    background-color: $toplist-overview-row-color-odd;
  }


  .heading {
    background-color: $toplist-overview-heading-bg;
    width: 100%;
    overflow: hidden;
    text-align: center;
    border-top: $wrapper-border;
    border-left: $wrapper-border;
    border-right: $wrapper-border;
    padding: $toplist-overview-header-padding;
    font-size: $toplist-overview-heading-font-size;
    color: $toplist-overview-heading-text-color;

  }

  .item {
    .row {
      border-top: $wrapper-border;
      border-left: $wrapper-border;
      border-right: $wrapper-border;
      text-align: center;
      padding: 10px 0 10px 0;
      .align {
        padding-top: 35px;
        display: block;
      }
      div:nth-of-type(2) {
        span {
          padding-bottom: 10px;
        }
      }
      div:nth-of-type(6) {
        padding-top: 20px;
        .btn {
          margin-bottom: 10px;
        }
      }
    }



  }

  .logo {
    width: 100%;
  }


  .terms {
    background-color: $toplist-overview-heading-bg;
    border: $wrapper-border;
    a {
      float: right;
      padding:20px;
      font-size: 16px;
      color: $toplist-overview-heading-text-color;
    }
    i {
      color: $toplist-overview-heading-text-color;
    }
  }
}
