// the below controls the styling of the payout toplist component

#toplist-games-featured {
  .col-lg-3 {
    padding: 0;
  }
  .col-lg-9 {
    padding: 0;
  }
  padding: 0;
  display: block;

  .heading {
    border: $games-count-border;
    padding: 15px 0;
    background-color: $games-count-heading-bg;
    text-align: left;
    font-size: $games-count-item-font-size;
    color: $games-count-heading-text-color;

    .row {
      .col-lg-1 {
        padding: 0;
      }
    }
  }
  .item {

    .row {
      background-color: $games-count-row-color-odd;
      font-size: $games-count-item-font-size;
      padding: 10px;
      border-left: $games-count-border;
      border-right: $games-count-border;
      border-bottom: $games-count-border;
      &:nth-child(even) {
        background-color: $games-count-row-color-even;
      }
      div {
        i {
          color: $games-count-rating-color;
        }
      }


    }
  }

  .featured {
    border: $games-count-border;
    height: (62px * 7) + 51 + $games-count-bordercount;
    text-align: center;
    padding: 10px;
    background-color: $games-count-featured-bg;
    color: $games-count-featured-text-color;

    .row {
      div {
        &:nth-of-type(1) {
          padding-bottom: 15px;
          i {
            color: $games-count-rating-color;
          }
        }
        &:nth-of-type(2) {
          position: relative;
          top: 10px;
          span:nth-of-type(1) {
            img {
              width: $games-count-logo-width;
              z-index: 10;
            }
            display: block;
            position: absolute;
            top: calc(50% - #{$games-count-logo-width / 2});
            left: calc(50% - #{$games-count-logo-width / 2});
          }
          span:nth-of-type(2) {
            //
          }
        }
        &:nth-of-type(3) {
          top: 25px;
          padding: 10px;
          span {
            font-size: $games-count-feature-bonus-size;
            color: $games-count-feature-bonus-color;
            font-weight: $games-count-feature-bonus-weight;
            text-transform: uppercase;
          }
        }
        &:nth-of-type(4) {
          top: 20px;
          ul {
            font-size: 15px;
            padding: 0;
          }
        }
        &:nth-of-type(5) {
          top: 30px;
          .btn {
            background-color: whitesmoke;
          }
        }
      }
    }

    .title {
      font-size: 20px;
      margin-bottom: 20px;
    }

    .list {
      margin: 10px 10px 10px 10px;
      //background-color: darken($games-payout-heading-bg, 5%);
      padding: 20px;
      //border: $games-count-border;
      font-size: 10px;
      list-style: none;
      margin-bottom: 30px;
    }




  }


}
