#toplist-best-bonus {
  padding: 0;
  display: block;
  .heading {
    border-left: $toplist-feature-top-border;
    border-right: $toplist-feature-top-border;
    border-bottom: $toplist-feature-top-border;
    padding: 15px;
    background-color: $toplist-feature-top-heading-bg;
    text-align: center;
    font-size: $toplist-feature-top-headin-size;
    color: $toplist-feature-top-headin-text;


  }
  .item {
    border-left: $toplist-feature-top-border;
    border-right: $toplist-feature-top-border;
    border-bottom: $toplist-feature-top-border;
    display: block;

    div {
      //border-right: 1px solid #333;
      //border-bottom: 1px solid #333;
      text-align: center;
    }
    .row:nth-child(even) {
      background-color: $toplist-feature-top-row-color-even;
    }
    .row:nth-child(odd) {
      background-color: $toplist-feature-top-row-color-odd;
    }

    .row {
      padding: 10px;
      border-top: $toplist-feature-top-border;
      div:nth-child(1) {
        span {
          display: block;
        }
      }
      div:nth-child(2) {
        font-size: $toplist-feature-top-row-text-size;
        color: $toplist-feature-top-row-text-color;
        padding-top: $toplist-feature-top-align;
      }
      div:nth-child(3) {
        font-size: $toplist-feature-top-row-text-size;
        color: $toplist-feature-top-row-text-color;
        padding-top: $toplist-feature-top-align;
      }
      div:nth-child(4) {
        padding-top: $toplist-feature-top-align;
        padding-bottom: 10px;
        span {
          display: block;
          margin-bottom: 10px;
        }
      }
    }
  }
}
