#toplist-games-section {
  margin-: $toplist-games-section-margin;
  .game-item {
    padding: 10px;
    margin: $toplist-games-section-margin;
    .heading {
      background-color: $toplist-games-section-heading-bg-color;
      color: $toplist-games-section-heading-font-color;
      font-size: $toplist-games-section-heading-font-size;
      font-weight: $toplist-games-section-heading-font-weight;
      text-align: center;
      padding: 15px 0;
      margin-bottom: $toplist-games-section-heading-margin-bottom;
      border-radius: $toplist-games-section-heading-border-radius;
      img {
        margin-bottom: $toplist-games-section-heading-img-margin-bottom;
      }
    }
    .panel {
      position: relative;
      background-color: whitesmoke;
      margin-bottom: 5px;
      padding: 15px 10px;
      box-shadow: $toplist-games-section-panel-shadow;
      .btn {
        position: absolute;
        display: none;
        z-index: 10;
        left: calc(50% - 20px);
        top: calc(50% - 15px);
      }
      &:hover {
        background-color: rgba(0,0,0,0.8);
        .btn {
          display: block;
        }
      }
      .row {
        padding-left: 15px;
        padding-right: 15px;
        div {
          &:nth-of-type(1) {                // logo bg
            text-align: center;
            padding: 10px;
            background-color: yellow;
            border-radius: 4px;

          }
          &:nth-of-type(2) {
            font-size: $toplist-games-section-bonus-font-size;
            color: $toplist-games-section-bonus-font-color;
            text-align: center;
            padding: 5px;
            margin-top: 5px;
          }
        }
      }
    }
    .spin-item {
      padding-left: 0;
      padding-right: 0;
    }
    
  }

}
