.toplist_option_more_info_flip {

	.toplist_option_more_info_flip_list {
		.flip {
			-webkit-perspective: 800;
			perspective: 800;
			position: relative;
			.card {
				width: 100%;
				-webkit-transform-style: preserve-3d;
				-webkit-transition: 0.5s;
				transform-style: preserve-3d;
				transition: 0.5s;
				background: $toplist_option_more_info_flip_card_bg_color;
				box-shadow: $toplist_option_more_info_flip_card_shadow;
				margin-bottom: 15px;
				margin-top: 15px;
				.face {
					-webkit-backface-visibility: hidden;
					backface-visibility: hidden;
					z-index: 2;
				}
				.flip-anchor {
					color: $toplist_option_more_info_flip_card_flip_anchor_color;
					opacity: 0.3;
					position: absolute;
					right: 10px;
					top: 10px;
					font-size: $toplist_option_more_info_flip_card_flip_anchor_font_size;
					&:hover {
						opacity: 1;
					}
					i.fa-info-circle {
						color: $toplist_option_more_info_flip_card_flip_anchor_circle_color;
						font-size: 20px;
						background: $toplist_option_more_info_flip_card_flip_anchor_circle_bg_color;
						line-height: 1;
						border: 1px solid $toplist_option_more_info_flip_card_flip_anchor_circle_bg_color;
						border-radius: 50%;
						width: 22px;
						height: 22px;
						text-align: center;
					}
				}
				.front {
					width: 100%;
					z-index: 1;
					display: inline-block;
					position: relative;
					.inner {
						display: inline-block;
						width: 100%;
						background: $toplist_option_more_info_flip_card_inner_bg;
						img {
							max-width: 100%;
						}
						.card__media {
							padding-top: 30px;
							display: inline-block;
							width: 100%;
							padding-bottom: 10px;
							height: $toplist_option_more_info_flip_card_inner_media_height;
							text-align: center;
							.card__rating {
								width: 100%;
								margin-top: 15px;
								margin-bottom: 10px;
								float: left;
								.star-md i {
									color: $toplist_option_more_info_flip_card_star_rating_color;
								}
							}
							.star-rating-after {
								padding-left: 7px;
							}
						}
					}
					.inner-2 {
						height: $toplist_option_more_info_flip_card_inner_2_height;
						padding: 18px;
						.h4 {
							margin: 0;
							margin-bottom: 10px;
							width: 100%;
							display: inline-block;
						}
						.card__status--with-action {
							max-width: 60%;
							position: absolute;
							left: 20px;
							color: $toplist_option_more_info_flip_card__status_color;
							padding-bottom: 5px;
							bottom: 15px;
							margin-bottom: 0;
							vertical-align: middle;
							text-transform: uppercase;
							font-size: $toplist_option_more_info_flip_card__status_font_size;
							i {
								color: $toplist_option_more_info_flip_card__status_inner_color;
								font-size: $toplist_option_more_info_flip_card__status_inner_font_size;
								font-weight: lighter;
								padding-right: 5px;
								vertical-align: bottom;
							}
						}
					}
          .card__action_btn {
						position: absolute;
						bottom: 10px;
						left: 10px;
						right: 10px;
					}

				}
				.card__desc-body {
					color: $toplist_option_more_info_flip_card_inner_2_color;
					word-break: break-word;
				}
				.back {
					padding-top: 10%;
					-webkit-transform: rotatey(-180deg);
					transform: rotatey(-180deg);
					position: absolute;
					height: 100%;
					width: 100%;
					top: 0;
					left: 0;
					padding: 18px 18px 18px;
          .card__action {
						position: absolute;
						bottom: 20px;
						right: 20px;
						text-transform: uppercase;
						font-size: $toplist_option_more_info_flip_card__status_font_size;
					}

				}
				&.flipped {
					-webkit-transform: rotatey(-180deg);
					transform: rotatey(-180deg);
				}
			}
		}
	}

}
