// the below controls the styling of the payout toplist component

#toplist-games-payout {
  .col-lg-3 {
    padding: 0;
  }
  .col-lg-9,
  .col-md-9,
  .col-sm-9 {
    padding: 0;
  }
  padding: 0;
  display: block;

  .heading {
    border: $games-payout-border;
    padding: 10px 0;
    background-color: $theme2;
    text-align: center;
    font-size: 11px;
    .row {
      .col-lg-1 {
        padding: 0;
      }
    }
  }
  .item {
    .col-lg-2,
    .col-lg-1,
    .col-lg-3 {
      border-right:1px solid #333;
      border-bottom: 1px solid #333;
      text-align: center;
      padding: 10px 0;

    }
    .row {
      background-color: lightgray;
      font-size: 11px;
      &:nth-child(even) {
        background-color: whitesmoke;
      }


    }
  }

  .featured {
    border: 1px solid;
    height: 36px * 10 + 37;
    text-align: center;
    padding: 10px;
    background-color: #1b6d85;

    .row {
      div {
        &:nth-of-type(1) {
          padding-bottom: 15px;
        }
        &:nth-of-type(2) {
          span {
            img {
              border: $wrapper-border;

            }
          }
        }
        &:nth-of-type(3) {
          ul {
            img {
              padding-bottom: 10px;
            }
          }
        }
      }
    }

    .title {
      font-size: 20px;
      margin-bottom: 20px;
    }

    .list {
      margin: 10px 10px 10px 10px;
      background-color: #00b3ee;
      padding: 10px;
      border: 1px solid;
      font-size: 10px;
      list-style: none;
    }

    .btn {
      background-color: yellow;
      color: black;
    }


  }


}