/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {



  #toplist-free-spins-v1 {
    .toplist {
      .item {
        text-align: center;
        div {
          padding-top: 15px;
        }
      }
    }
  }


  #thumbnails-content {
    .thumbnail {
      height: auto;
      .caption {
        .small-review {
          display: block;
        }
        .game-name {
          font-size: 12px;
        }
      }
    }
  }

  #item-banner-live-dealer {
    .panel {
      .row {
        height: auto;
        div:nth-of-type(1) {
          text-align: center;
          padding: 15px;
          .img-dealer {
            position: relative;
            top: 0;
          }


        }
        div:nth-of-type(2) {
          padding: 15px 30px 30px 30px;
          h3 {
            margin-top: 0;
          }
        }
      }
      .panel-body {
        .row {
          div {
            text-align: left;
            padding: 15px;
          }
        }
      }
    }
  }

  #back-to-top-v1 {
    display: none;
  }

  #item-overview-v2 {
		#overview-panel-3 {
			height: auto;
			text-align: center;

		}

	}

  #games-categories-tabbed-v2 {

	}

  #item-screenshots-modal {
    div {
      button {
        &:hover {
          .more-plus {
            display: none;
          }
        }
      }
    }
  }


  #item-mast-v3 {
    text-align: center;
  }

  #item-text-slider {
		.carousel-inner {
      .item {

  			.row {
  				div {
  					&:nth-of-type(1) {
              padding-left: 80px;
              padding-right: 80px;
            }
            &:nth-of-type(2) {
              padding-left: 80px;
              padding-right: 80px;
            }
  				}
  			}
  		}
    }
	}

  #item-banner-v4 {
    text-align: center;
    .row {
      div {
        img {
          //width: 250px;
        }
        .heading {
          padding: 15px;
        }
        .btn {
          margin-bottom: 20px;
          width: 100%;
        }
      }
    }
  }

  #item-banner-v5 {
    text-align: center;
    .row {
      div {
        img {
          //width: 250px;
        }
        .heading {
          padding: 15px;
        }
        .btn {
          //margin-bottom: 20px;
          width: 100%;
        }
      }
    }
  }

  #item-banner-terms {
    text-align: center;
    .row {
      div {

        .heading {
          padding: 15px;
        }
        .btn {
          margin-bottom: 20px;
          width: 100%;
        }
      }
    }
  }

  #item-all-bonuses {
    text-align: center;
    .list-group {
      .list-group-item {
        .row {
          .dashed-box {
            width: 100%;
            margin: 15px 0;
          }
        }
      }
    }
  }


  #toplist-games-payout {
    .item {
      border-left: $games-payout-border;
      .row {
        div {
          text-align: center;
          padding: 15px;
          &:nth-of-type(5) {
            .btn {
              width: 100%;
              font-size: 16px;
            }
          }


        }
      }
    }
  }

  #toplist-overview {
    .row {
      div {
        &:nth-of-type(6) {
          padding-left: 0;
          .btn {
            font-size: 11px;
          }
        }
        &:nth-of-type(2) {
          i {
            font-size: 11px;
          }
        }
        span{
          display: block;

        }
      }
    }
  }


  #item-header-mast {
		.item {
			.wrap {
				.row {
          //padding-left: 60px;
					#logo-wrap {
						//width: 200px;
						//height: 200px;
					}
					#banner-caption {
						span {
							&:nth-of-type(1) {						// Caption title
							}
							&:nth-of-type(2) {						// Caption paragraph / description
							}
							&:nth-of-type(3) {						// Bonus heading
								//
							}
							&:nth-of-type(4) {						// Bonus
								//
							}
							&:nth-of-type(5) {						// Play now button
								//width: 90%;
								a {
									font-size: 15px;
								}
							}
						}
					}
				}
			}
		}
	}

  #toplist-featured-standalone {
    .featured {
      .btn {
        width: 100%
      }
      .list:nth-child(1) {
        img {
          width: 30%;
        }
      }
      .list:nth-child(2) {
        text-align: center;
      }
    }
  }

  #toplist-payment-methods {
    .heading {
      .row {
        div {
          padding: 5px;
        }
      }
    }
  }

  #toplist-best-bonus {
    .item {
      .row {
        div {
          .btn {
            width: 100%;
          }
        }
      }
    }
  }
  #softwarelist-compare-two {
    .vs {
      top: calc(48.5% - #{$software-vs-vs-width / 2});
    }
  }
  #toplist-games-featured {
    .item {
      .row {
        text-align: center;
        div {
          padding: 10px;
          .btn {
            width: 100%;
          }
        }
      }
    }
  }
  #toplist-v1 {
    .toplist {
      .item {
        div {
          &:nth-of-type(2) {
  					.title {
  						text-align: center;
  					}
  					.rating-outer {
  						text-align: center;
  					}
  				}
          .btn {
            width: 100%;
          }
        }
      }
    }
  }
  #toplist-collapse {
    .row {
      .col-xs-12 {
        .toplist {
          text-align: center;
          .item {
            .row {
              .wrap {
                div:nth-of-type(6) {
                  left: 0;
                }
              }
            }
          }
          div {
            //padding: 10px 0;
          }
        }
      }
    }
  }
  #accordion-item {
    .panel {
      .panel-heading {
        .row {
          div {
            &:nth-of-type(2) {
              text-align: center;
            }
          }
        }
      }
    }
  }
  #toplist-v2 {
    .panel {
      .item {
        .more {
          display: none;
        }
        div {
          &:nth-of-type(2) {
            text-align: center;
          }
          &:nth-of-type(1) {
            padding: 0;
            .logo-bg {
              width: 100%;
            }
          }
					// buttons
          &:nth-of-type(6) {
						.btn {
							width: 100%;
						}
          }
        }
      }
      .panel-body {
        text-align: center;
      }
    }
  }
  #item-top-banner {
    .row {
      div {
        &:nth-of-type(2) {
          text-align: center;
          padding: 25px;
        }
      }
    }
  }
  #item-banner-v3 {
    .row {
      text-align: center;
      .btn {
        margin-top: 20px;
      }
    }
  }
  #toplist-top-3 {
		div {
			.item-container {
        height: 420px;
				.col-lg-8,
				.col-md-8,
				.col-sm-8 {
					text-align: center;
				}
			}
		}
	}
  #toplist-security-overview {
    .item {
      text-align: center;
      .row {
        div {
          padding-bottom: 15px;
          .btn {
            width: 100%;
          }
        }
      }
    }
  }

}
