/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	// Content block thumbnail name

	// Making sure text don't break div structure
	.btn-block {
		font-size: 35px;
	}

	//header_navbar
	.navbar-nav {
		>li {
			>a {
				padding-bottom: 15px;
				padding-top: 15px;
			}
		}
	}
	.navbar-toggle{
		margin-top: 25px;
	}
	//breadcrumb
	.breadcrumb {
		padding-left: 15px;
	}
	


	#thumbnail-small {
		.thumbnail-hover {
			.thumbnail-content-prt {
				.thumbnail-content {
					padding: 10px;

				}

			}
		}
	}



}
