/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {


	#games-paginized-v1 {
		#paginization-content {
			.thumbnail {
				height: auto;
			}
		}
	}


	

	#item-overview-v2 {
		#panel-1 {
			height: auto;
			.row {

			}
		}

	}

	//header_navbar
	.navbar-nav {
		>li {
			>a {
				padding-bottom: 15px;
				padding-top: 15px;
			}
		}
	}
	.navbar-toggle{
		margin-top: 25px;
	}
	//breadcrumb
	.breadcrumb {
		padding-left: 15px;
	}



	#thumbnail-small {
		.thumbnail-hover {
			.thumbnail-content-prt {
				.thumbnail-content {
					padding: 10px;

				}

			}
		}
	}

	#toplist-games-section {
		.game-item {
			.panel {
				&:hover {
	        background-color: rgba(0,0,0,0.2);
	        .btn {
	          display: none;
	        }
	      }
			}
		}
	}
	#thumbnail-casino {
		.thumbnail {
			height: 370px;
			.thumbnail-casino-hover {
				img {
					width: 350px;
				}
			}
			.caption {
				text-align: center;
			}
		}
	}
	#toplist-overview {
		.item {
			.row:nth-of-type(1) {
		    border-top: $toplist-overview-borders;
		  }
			.row {
				.align {
					padding-top: 0;
					padding-bottom: 10px;
				}
				div:nth-of-type(6) {
					padding: 15px;
					.btn {
						width: 100%;
						font-size: 15px;
					}
				}
			}
		}
	}


}
