{{{snip_global_vars}}}
<!DOCTYPE html>
<html lang="en">
  <head>
  {{{headers}}}
  {{{snip_cs6_global_css}}}
  </head>
  <body class="template-games-section-v2">
  {{{snip_cs82_header_v1}}}

    <div class="container">
    {{{snip_cs5_global_bread}}}
    </div>

    <div class="container-fluid">
      {{{snip_cs93_global_social_site_v3}}}
      {{{snip_cs91_back_to_top_v1}}}
      <div class="row">
        <section class="content bg-alt">
          <div class="container">
              <div class="col-lg-9 col-md-12 col-sm-12">
                {{{h1}}}
                {{{text_1}}}
              </div>
              <div class="col-lg-3 col-md-12 col-sm-12">
                {{{snip_cs17_menu_list_group}}}
              </div>
          </div>
        </section>
      </div>

      <div class="row">
        <section class="content">
          <div class="container">
              {{{text_2}}}
              {{{snip_cs104_games_thumbs_more gametype="slots"}}}
            </div>
        </section>
      </div>

      <div class="row">
        <section class="content bg-alt">
          <div class="container">
            {{{text_3}}}
            {{{snip_cs104_games_thumbs_more gametype="blackjack"}}}
            </div>
        </section>
      </div>


      <div class="row">
        <section class="content">
          <div class="container">
            {{{text_4}}}
            {{{snip_cs104_games_thumbs_more gametype="roulette"}}}
          </div>
        </section>
      </div>


      <div class="row">
      <section class="content bg-alt">
        <div class="container">
          {{{text_5}}}
          {{{snip_cs104_games_thumbs_more gametype="video_poker"}}}
        </div>
      </section>
      </div>


      <div class="row">
        <section class="content">
          <div class="container">
            {{{text_6}}}
          </div>
        </section>
      </div>

    </div>




    {{{snip_cs89_item_email_subscribe_fluid}}}
    <footer>

    {{{snip_cs90_footer_v1}}}

    </footer>

    {{{snip_cs9_global_js}}}
    <script type="text/javascript" src="{{{root}}}dist/js/mush.js"></script>
  </body>
</html>
