{{{snip_global_vars}}}
{{#item}}
<!DOCTYPE html>
<html lang="en">
  <head>
  {{{headers}}}
  {{{snip_cs6_global_css}}}
  </head>
  <body>
  {{{snip_cs82_header_v1}}}

    <div class="container">
    {{{snip_cs5_global_bread}}}
    </div>
    {{{snip_cs93_global_social_site_v3}}}
    {{{snip_cs91_back_to_top_v1}}}
    <div class="jumbotron" id="item-mast-v3">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-12 col-sm-12 logo-bg" style="background-color:lightblue;">
            {{{image_125x125_150x150}}}
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12">
            <span>{{{h1}}}</span><br>
            {{{snip_cs26_rating_stars_lg}}}<br>
            {{{snip_cs76_item_status}}}
            {{{snip_cs75_players_accepted iso="fr" country="France"}}}
            {{{text_1}}}
          </div>
          <div class="col-lg-3 col-md-12 col-sm-12">
            <span>Sign-Up Bonus</span><br><br>
            <span>
              <strong>${{{signup_bonus_amount}}} Free</strong> {{#maybe_all}}<br> + {{{free_spins_amount}}} Free Spins {{/maybe_all}}
            </span><br><br>
            <a {{{href}}} class="btn btn-primary btn-lg">Claim Now</a>
          </div>
        </div>
      </div>
    </div>




    <div class="container-fluid" id="template-review-v1">

      <div class="container">
        {{{snip_cs85_sticky_menu}}}
        <div class="row">
          <div class="col-lg-9 col-md-12 col-sm-12">
            <section class="content" data-spy="scroll" data-target="#sticky-menu">
                <div class="row">
                  <div class="col-lg-12" id="section-1">
                    {{{text_2}}}
                  </div>
                </div>

                {{{snip_cs78_item_text_slider}}}

                <div class="row" id="section-2">
                  <div class="col-lg-12">
                    {{{text_3}}}
                  </div>
                </div>

                {{{snip_cs79_item_banner_v4}}}

                <div class="row">
                  <div class="col-lg-12">
                    {{{text_4}}}
                  </div>
                </div>

                {{{snip_cs80_item_all_bonuses}}}

                {{{snip_cs69_item_screenshots_modal}}}

                <div class="row" id="section-3">
                  <div class="col-lg-12">
                    {{{text_5}}}
                  </div>
                </div>

                {{{snip_cs84_item_banner_terms}}}

                <div class="row" id="section-4">
                  <div class="col-lg-12">
                    {{{text_7}}}
                  </div>
                </div>

                {{{snip_cs87_games_categories_tabbed_v2 gametype_1="slots" gametype_2="roulette" gametype_3="blackjack" gametype_4="video_poker"}}}

                {{{snip_cs92_item_banner_live_dealer}}}

                <div class="row" id="section-5">
                  <div class="col-lg-12">
                    {{{text_13}}}
                  </div>
                </div>

                {{{snip_cs81_item_banner_v5}}}

                <div class="row" id="section-6">
                  <div class="col-lg-12">
                    {{{text_14}}}
                  </div>
                </div>

                {{{snip_cs88_item_overview_v2}}}

            </section>
          </div>

          <div class="col-lg-3 col-md-12 col-sm-12">
            <section class="sidebar">

            {{{snip_cs70_item_technical_menu}}}

            </section>
          </div>
        </div>
      </div>

    </div>
    {{{snip_cs89_item_email_subscribe_fluid}}}




    <footer>

    {{{snip_cs90_footer_v1}}}

    </footer>

    {{{snip_cs9_global_js}}}

  </body>
</html>
{{/item}}
