{{{snip_global_vars}}}
<!DOCTYPE html>
<html lang="en">
  <head>
  {{{headers}}}
  {{{snip_cs6_global_css}}}
  </head>
  <body class="template-index-v2">
    {{{snip_cs82_header_v1}}}
    {{{snip_cs91_back_to_top_v1}}}
    <section class="content">
      <div class="container">
        {{{h1}}}
        <p>
          O irure ex nulla, quorum expetendis iis probant. Cernantur iis fabulas nam
          commodo culpa mandaremus voluptate. Litteris ea dolore quibusdam, labore
          domesticarum incurreret export litteris. Offendit elit eiusmod.Sunt ubi mentitum
          quo cillum non admodum an cernantur, sint iis fabulas ab quem mentitum ex
          appellat eu si do illum admodum an probant export commodo aut e sunt offendit
          arbitrantur aut ita eiusmod si cupidatat. Do quibusdam praetermissum ex culpa
          officia imitarentur. Export fabulas est cohaerescant ita summis in laborum ea
          amet, possumus quid multos e dolore non de enim officia illustriora, ea elit
          mandaremus se quo multos irure o cupidatat ita eu irure e tamen, expetendis
          export ita admodum familiaritatem. Nulla distinguantur occaecat anim commodo,
          excepteur non cillum proident, aliquip ab nisi, aut anim illum legam iudicem.
        </p>
      </div>
      <div class="container-fluid">
        <div class="bg-banner" style="background: url('{{{root}}}[@bg-banner-index]') no-repeat center;">
          <div class="container">
            {{{snip_cs99_toplist_more_info_flip}}}
          </div>
        </div>
      </div>
    </section>

    <section class="content bg-alt">
      <div class="container">
        <div class="col-lg-12">
          <h2>Free Spins</h2>
          {{{snip_cs40_toplist_free_spins_v1 listsize="50"}}}
        </div>
      </div>
    </section>

    <section class="content">
      <div class="container">
        <div class="col-lg-12">
          <h2>No Deposit Bonus</h2>
          {{{snip_cs41_toplist_no_deposit_v1 listsize="50"}}}
        </div>
      </div>
    </section>



    <section class="content bg-alt">
      <div class="container">
          {{{snip_cs105_games_thumbs_description}}}
      </div>
    </section>

    <section class="content">
      <div class="container">
        {{{text}}}
      </div>
    </section>


    <footer>

    {{{snip_cs90_footer_v1}}}

    </footer>


    {{{snip_cs9_global_js}}}

  </body>
</html>
