{{{snip_global_vars}}}
<!DOCTYPE html>
<html lang="en">
  <head>
  {{{headers}}}
  {{{snip_cs6_global_css}}}
  </head>
  <body class="template-index">
    {{{snip_cs82_header_v1}}}

    <section class="content">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                {{{h1}}}
                {{{text_1}}}
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12">
              {{{snip_cs65_toplist_top_3}}}
              </div>
            </div>
      </div>
    </section>

    <section class="content bg-alt">
      <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              {{{snip_cs46_toplist_option_v2}}}
            </div>
          </div>
      </div>
    </section>

    <section class="content">
      <div class="container">
          <div class="row">
              <div class="col-lg-9 col-md-12 col-sm-12">
                {{{text_2}}}
                {{{snip_cs42_toplist_payout_games_featured_left}}}
              </div>
              <div class="col-lg-3 col-md-12 col-sm-12">
                {{{snip_cs17_menu_list_group}}}
                {{{snip_cs17_menu_list_group}}}
              </div>
          </div>
      </div>
    </section>

    <section class="content bg-alt">
      <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              {{{text_3}}}

              <div class="row">
                {{{snip_cs67_toplist_games_section}}}
              </div>

            </div>
          </div>
      </div>
    </section>

    <section class="content">
      <div class="container">
          <div class="row">
              <div class="col-lg-9 col-md-12 col-sm-12">
                <div class="row">
                  <div class="col-lg-12">
                    {{{text_4}}}
                    {{{snip_cs51_toplist_payment_methods_featured_bottom}}}
                  </div>
                  <div class="col-lg-12">
                    {{{text_5}}}
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-12 col-sm-12">
                {{{snip_cs71_sidebar_top_10}}}
              </div>
          </div>
      </div>
    </section>


    <footer>

    {{{snip_cs7_global_footer}}}

    </footer>


    {{{snip_cs9_global_js}}}

  </body>
</html>
