{{{snip_global_vars}}}
<!DOCTYPE html>
<html lang="en">
  <head>
  {{{headers}}}
  {{{snip_cs6_global_css}}}
  </head>
  <body class="template-news-article-v1">
  {{{snip_cs82_header_v1}}}

    <div class="container">
    {{{snip_cs5_global_bread}}}
    </div>

    <div class="container-fluid article">
      {{{snip_cs93_global_social_site_v3}}}
      {{{snip_cs91_back_to_top_v1}}}
      <div class="container">
        <div class="row">
          <div class="col-lg-9 col-md-12 col-sm-12">
            <section class="content">
              <article>
                {{#maybe}}<img src="{{{pageimage_320x320}}}"/>{{/maybe}}
                {{{h1}}}
                <span class="date">{{{date}}}</span>
                {{{text}}}
              </article>
            </section>
          </div>

          <div class="col-lg-3 col-md-12 col-sm-12">
            <section class="sidebar">
            {{{snip_cs60_news_list_full_width}}}
            {{{snip_cs71_sidebar_top_10}}}
            {{{snip_cs17_menu_list_group}}}
            </section>
          </div>
        </div>
      </div>
    </div>

    <footer>

    {{{snip_cs90_footer_v1}}}

    </footer>

    {{{snip_cs9_global_js}}}

  </body>
</html>
