<!DOCTYPE html>
<html lang="en">
  <head>
  {{{headers}}}
  {{{snip_css}}}
  </head>
  <body>
  {{{snip_header}}}

  <div class="container sidemenu">
    <div id="sidebar-menu" class="col-md-2 hidden-xs hidden-sm">
      <ul class="main-menu nav nav-stacked affix">
      </ul>
    </div>



    <div id="static-content" class="col-md-10">



      <div class="content-wrap">
        <h1 id="par-1">Accordion</h1>
        <p>
          This is a fully responsive accordion that can serve as content dropdown box, FAQ menu etc.
          Its styling can be manipulated in the _accordion.scss file.
        </p>
        {{{snip_accordion}}}
      </div>

      <div class="content-wrap">
        <h1 id="par-2">Carousel</h1>
        <h2 id="sub-par-2-1">No Captions</h2>
        <p>Carousel with no captions</p>
        {{{snip_carousel_no_captions}}}

        <h2 id="sub-par-2-2">With Captions</h2>
        <p>Carousel with captions</p>
        {{{snip_carousel_with_captions}}}
      </div>



      <div class="content-wrap">
        <h1 id="par-3">Jumbotron</h1>
        <h2 id="sub-par-3-1">Version 1</h2>
        <p>Jumbotron version 1</p>
        {{{snip_jumbotron_v1}}}

        <h2 id="sub-par-3-2">Version 2</h2>
        <p>Jumbotron version 2</p>
        {{{snip_jumbotron_v2}}}
      </div>

      <div class="content-wrap">
        <h1 id="par-4">List Group</h1>
        <p>List group to be used as a menu</p>
        {{{snip_list_group}}}
      </div>


      <div class="content-wrap">
        <h1 id="par-5">Tabs</h1>
        <p>Tabbed content</p>
        {{{snip_tabs}}}
      </div>

      <div class="content-wrap">
        <h1 id="par-6">Thumbails</h1>

        <h2 id="sub-par-6-1">Games</h2>
        {{{snip_thumbnails_games}}}
        <h2 id="sub-par-6-2">Content Games</h2>
        {{{snip_thumbnails_content_games}}}
        <h2 id="sub-par-6-3">Content Casinos</h2>
        {{{snip_thumbnails_content_casinos}}}
      </div>

      <div class="content-wrap">
        <h1 id="par-7">Toplists</h1>
        <h2 id="sub-par-7-1">Best Bonuses</h2>
        <p>Toplist best bonuses with featured item</p>
        {{{snip_toplist_best_bonuses_with_featured_item}}}

        <h2 id="sub-par-7-2">Compare 2 Casinos</h2>
        <p>Comparing 2 casinos as a toplist</p>
        {{{snip_toplist_compare_two_casinos}}}

        <h2 id="sub-par-7-3">Featured Standalone</h2>
        <p>This is a featured standalone item</p>
          {{{snip_toplist_featured_standalone}}}

        <h2 id="sub-par-7-4">Game Offers Combined</h2>
        <p>This is a toplist that combines two game types for each casino</p>
        {{{snip_toplist_games_offers_combined}}}

        <h2 id="sub-par-7-5">Games Payout</h2>
        <p>This is a toplist that compares payout rates between a list of casinos</p>
        {{{snip_toplist_games_payout}}}

        <h2 id="sub-par-7-6">Games With Featured Item</h2>
        <p></p>
        {{{snip_toplist_games_with_featured_item}}}

        <h2 id="sub-par-7-7">Payment Methods</h2>
        <p>This toplist showcases the available payment methods and includes a featured item at the bottom.</p>
        {{{snip_toplist_payment_method_with_feature_item}}}

        <h2 id="sub-par-7-8">Quick Overview</h2>
        <p>This toplist presents a quick overview of a list of casinos</p>
        {{{snip_toplist_quick_overview}}}

        <h2 id="sub-par-7-9">Security Overview</h2>
        <p>This toplist presents a security overview of a list of casinos</p>
        {{{snip_toplist_security_overview}}}

        <h2 id="sub-par-7-10">Softwarelist Quick Overview</h2>
        <p>This toplist is an overview of a certain software type.</p>
        {{{snip_softwarelist_quick_overview}}}

        <h2 id="sub-par-7-11">Softwarelist Compare Two</h2>
        <p>This compares the software of two different casinos.</p>
        {{{snip_softwarelist_compare_two}}}

      </div>

      <div class="content-wrap">
        <h1 id="par-8">Tumblers</h1>
        <p>A list of animated tumblers with casino showcase content</p>
        {{{snip_tumbler_list}}}
      </div>

      <div class="content-wrap">
        <h1 id="par-9">Pricing Tables</h1>
        <p>Animated pricing tables</p>
        {{{snip_price_tables}}}
      </div>

      <div class="content-wrap">
        <h1 id="par-10">Tooltips</h1>
        <p>These are 4 different snips with a differently orientated tooltip for each</p>

        <div class="row">
          <div class="col-lg-12">
            <div class="col-lg-3">
              {{{snip_tooltip_top}}}
            </div>
            <div class="col-lg-3">
              {{{snip_tooltip_bottom}}}
            </div>
            <div class="col-lg-3">
              {{{snip_tooltip_right}}}
            </div>
            <div class="col-lg-3">
              {{{snip_tooltip_left}}}
            </div>
          </div>
        </div>
      </div>

      <div class="content-wrap">
        <h1 id="par-11">News List</h1>
        <p>These are portlet-like news items.</p>
        {{{snip_news_list}}}
      </div>

      <div class="content-wrap">
        <h1 id="par-12">Modal</h1>
        <p>This is a modal component.</p>
        {{{snip_modal}}}
      </div>

      <div class="content-wrap">
        <h1 id="par-13">Popover</h1>
        <p>This is a popover component for pop-up information etc.</p>
        {{{snip_popover}}}
      </div>

      <div class="content-wrap">
        <h1 id="par-14">Alert Message</h1>
        <p>This is an alert message component for displaying crucial information.</p>
        {{{snip_alert_message}}}
      </div>

      <div class="content-wrap">
        <h1 id="par-15">Supported Platforms</h1>
        <p>A snip to display the supported platforms of a given casino.</p>
        {{#list_1_list1}}
        <div class="row">
          <div class="col-lg-12">
            <div class="col-lg-6">
              <p>Text Version</p>
              {{{snip_supported_platforms}}}
            </div>
            <div class="col-lg-6">
              <p>Icon Version</p>
              {{{snip_supported_platforms_icons}}}
            </div>
          </div>
        </div>
        {{/list_1_list1}}




      </div>

      <div class="content-wrap">
        <h1 id="par-16">Star Ratings</h1>
        <p>There are 3 different star rating snips.</p>
        {{#list_1_list1}}
        <div class="row">
          <div class="col-lg-12 star-showcase">
            <div class="col-lg-4">
              <p>Small</p>
              {{{snip_star_rating_sm}}}
            </div>
            <div class="col-lg-4">
              <p>Medium</p>
              {{{snip_star_rating_md}}}
            </div>
            <div class="col-lg-4">
              <p>Large</p>
              {{{snip_star_rating_lg}}}
            </div>
          </div>
        </div>
        {{/list_1_list1}}
      </div>

      <div class="content-wrap">
        <h1 id="par-17">Social Share</h1>
        <p>A dropdown button with relevant social platforms.</p>
        <div class="row">{{{snip_social_share}}}</div>
      </div>

      <div class="content-wrap">
        <h1 id="par-18">Item Banner</h1>
        <p>An item banner with information.</p>
        {{{snip_item_banner}}}
      </div>

      <div class="content-wrap">
        <h1 id="par-19">Deposit Methods</h1>
        <p>A list of deposit methods offered by casino.</p>
        <div class="row">
          {{#list_1_list1}}
          <div class="col-lg-12">
            <div class="col-lg-6">
              {{{snip_deposit_methods}}}
            </div>
            <div class="col-lg-6">
              {{{snip_deposit_methods_icons}}}
            </div>
          </div>
          {{/list_1_list1}}
        </div>






      </div>









    </div>
  </div>

    <footer>

    {{{snip_footer}}}

    </footer>


    {{{snip_js}}}

  <script>
      // this script controls the sidebar menu for the components index

      $(document).ready(function() {
          var sidebarMainMenu = $('#sidebar-menu .main-menu');
          var staticContent = $('#static-content');
          staticContent.find('h1').each(function() {
              sidebarMainMenu.append('<li id="'+ $(this).attr('id') + '-menu"><a href="#' + $(this).attr('id') + '">' + $(this).html() + '</li>');
              title = sidebarMainMenu.find('#' + $(this).attr('id'));
          });
          staticContent.find('h2').each(function() {
              prevTitle = sidebarMainMenu.find('#' + $(this).prevAll('h1').first().attr('id') + '-menu');
              prevTitle.not(":has(ul)").append('<ul class="sub-menu"></ul>');
              prevTitle.find('.sub-menu').append('<li id="'+ $(this).attr('id') + '-menu"><a href="#' + $(this).attr('id') + '">' + $(this).html() + '</li>');
          });
          sidebarMainMenu.affix({
              offset: {
                  top: 0  // To Modify according to the height offset
              }
          });
      });

      // ---------- //
  </script>
  </body>
</html>