<!DOCTYPE html>
<html lang="en">
  <head>
  {{{headers}}}
  {{{snip_cs6_global_css}}}
  </head>
  <body>
  {{{snip_cs8_global_header}}}

    <div class="container">

    {{{snip_bread}}}

      <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12">

          <section class="article">

            <div class="content-wrap">
              {{{h1}}}
              {{{text_1}}}
              {{{text_2}}}
              {{{text_3}}}
              {{{text_4}}}
            </div>

          </section>

        </div>

        <div class="col-lg-3 col-md-3 col-sm-12">

          <section class="sidebar">

          {{{snip_sidebar_components}}}

          </section>

        </div>

      </div>

    </div>

    <footer>

    {{{snip_footer}}}

    </footer>

    {{{snip_js}}}

  </body>
</html>
