<!DOCTYPE html>
<html lang="en">
  <head>
  {{{headers}}}
  {{{snip_css}}}
  </head>
  <body>
  {{{snip_header}}}


    <div class="container">

      {{{snip_bread}}}

      <div class="row">

        <div class="col-lg-9 col-md-9 col-sm-12">

          <section class="item">

            <div class="row">

              <div class="col-lg-12 col-md-12 col-sm-12">

                <div class="wrap">

                  <div class="row">

                    <div class="col-lg 4 col-md-4 col-sm-12">

                      <div class="logo-wrap">

                        <span class="logo">{{{image_125x125}}}</span>
                        <span class="rating">
                        {{{snip_star_rating}}}
                        </span>

                      </div>

                    </div>

                    <div class="col-lg 8 col-md-8 col-sm-12">

                      {{{h1}}}
                      {{{text_top}}}

                      <span class="bonus-heading">New Player Bonus</span>  
                      <span class="bonus">{{{signup_bonus_percent}}}% Match Bonus, Up To ${{{signup_bonus_amount}}} Free</span>  
                      <span class="button"><a {{{href}}} class="btn btn-lg btn-block btn-primary">Play Now</a></span>

                    </div>

                  </div>

                </div>

              </div>

            </div>

          </section>

          <section class="info">

                <div class="row">

                    {{{snip_casino_info}}}

                </div>

          </section>

          <section class="article">

                <div class="row">

                  <div class="col-lg-12 col-md-12 col-sm-12">

                      <div class="content-wrap">

                        {{{h2}}}
                        {{{text_bottom}}}

                      </div>

                  </div>

                </div>

          </section>

        </div>

        <div class="col-lg-3 col-md-3 col-sm-12">

          <section class="sidebar">

          {{{snip_sidebar_1}}}

          </section>

        </div>

      </div>

    </div>

    <footer>

    {{{snip_footer}}}

    </footer>


    {{{snip_js}}}

  </body>
</html>