{{{snip_global_vars}}}
<!DOCTYPE html>
<html lang="en">
  <head>
  {{{headers}}}
  {{{snip_cs6_global_css}}}
  </head>
  <body class="template-news-list-v1">
  {{{snip_cs82_header_v1}}}

    <div class="container">
    {{{snip_cs5_global_bread}}}
    </div>

    <div class="container-fluid">
      {{{snip_cs93_global_social_site_v3}}}
      {{{snip_cs91_back_to_top_v1}}}
      <div class="row">
        <section class="content bg-alt">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    {{{h1}}}
                    {{{text_1}}}
                  </div>
                </div>
          </div>
        </section>
      </div>

      <div class="row">
        <section class="content">
          <div class="container">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                  {{{snip_cs19_news_list_grid}}}
                </div>
              </div>
          </div>
        </section>
      </div>

      <div class="row">
        <section class="content bg-alt">
          <div class="container">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                  {{{text_2}}}
                </div>
              </div>
          </div>
        </section>
      </div>
    </div>





    <footer>

    {{{snip_cs90_footer_v1}}}

    </footer>

    {{{snip_cs9_global_js}}}

  </body>
</html>
