<!DOCTYPE html>
<html lang="en">
  <head>
  {{{headers}}}
  {{{snip_css}}}
  </head>
  <body>
  {{{snip_header}}}

    <div class="container">

      {{{snip_bread}}}

      <div class="row">

        <div class="col-lg-9 col-md-9 col-sm-12">

          <div class="col-lg-12 col-md-12 col-sm-12">

            <div class="row">

              <div class="content-wrap">
                {{{h1}}}
                {{{text_1}}}
              </div>

            </div>

          </div>

          <div class="col-lg-12 col-md-12 col-sm-12">

            <div class="row">

              <div class="content-wrap">

                <section class="toplist">

                  {{{h2}}}
                  {{{text_2}}}

                  <div class="row">
                  {{{snip_toplist_main}}}
                  </div>

                </section>

              </div>

            </div>

          </div>

          <div class="col-lg-12 col-md-12 col-sm-12">

            <div class="row">

              <div class="content-wrap">

                <section class="article">

                {{{text_3}}}

                </section>

              </div>

            </div>

          </div>

        </div>

        <div class="col-lg-3 col-md-3 col-sm-12">

          <section class="sidebar">

          {{{snip_sidebar_1}}}

          </section>

        </div>

      </div>

    </div>

    <footer>

    {{{snip_footer}}}

    </footer>


    {{{snip_js}}}

  </body>
</html>