//
// Color scheme
$theme1: #252525;
$theme2: whitesmoke;
$theme3: yellow;
$theme4: #d5dee2;
$theme5: #ffffff;
$theme6: #ffffff;


$bg-main: #e3e6e8;                                  // main background color for site
$wrapper-bg: white;                                 // content wrapper background
// default theme properties
$dark-text-color: #333333;                            // dark text color for light backgrounds
$light-text-color: white;                           // light text color for dark backgrounds
$theme-light-bg: $theme2;
$theme-dark-bg: $theme1;
$star-rating-color: red;                            // star ratings color
$toplist-headings-bg: $theme1;                      // background for toplist headings
$toplist-features-color: lighten($theme1, 10%);     // background for all the features attached to toplists
$wrapper-border: none;
$wrapper-box-shadow: 0 1px 1px 0 rgba(0,0,0,.3);
$component-border: 1px solid #DDDDDD;
$bonus-font-color: #3eb1d4;
$banner-bg: $theme1;



// Boilerplate Navbar properties
$navbar-bg-color: #121212;                          // navbar bg color
$navbar-bg-hover-color: #3b3b3b;                    // navbar li hover
$navbar-wrapper-height: 85px;
$navbar-item-padding-top: 32px;
$navbar-item-padding-bottom: 32px;


// Template Index V1 | _template-index-v1.scss
$template-index-v1-section-alt-bg-color: darken($bg-main, 5%);
$template-index-v1-section-padding: 10px 0;
$template-index-v1-section-font-color: $dark-text-color;

// Template Index V2 | _template-index-v2.scss
$template-index-v2-section-alt-bg-color: darken($bg-main, 5%);
$template-index-v2-section-padding: 30px 0;
$template-index-v2-section-font-color: $dark-text-color;


// Template Sub V1 | _template-sub-v1.scss
$template-sub-v1-container-padding: 30px 0;          // padding for the entire container

// Tempalte Review V1 | _template-review-v1.scss
$template-review-v1-container-padding: 0;


// Template Toplist V1 | _template-toplist-v1
$template-toplist-v1-section-alt-bg-color: darken($bg-main, 5%);
$template-toplist-v1-section-padding: 10px 0;
$template-toplist-v1-section-font-color: $dark-text-color;


// Template Contact V1 | _template-contact-v1.scss
$template-contact-v1-section-alt-bg-color: darken($bg-main, 5%);
$template-contact-v1-section-padding: 10px 0 60px 0;
$template-contact-v1-section-font-color: $dark-text-color;


// Template Contact V1 | _template-contact-v1.scss
$template-games-section-v1-section-alt-bg-color: darken($bg-main, 5%);
$template-games-section-v1-section-padding: 60px 0 60px 0;
$template-games-section-v1-section-font-color: $dark-text-color;

$template-games-section-v2-section-alt-bg-color: darken($bg-main, 5%);
$template-games-section-v2-section-padding: 30px 0 30px 0;
$template-games-section-v2-section-font-color: $dark-text-color;


// Template Contact V1 | _template-contact-v1.scss
$template-games-page-v1-section-alt-bg-color: darken($bg-main, 5%);
$template-games-page-v1-section-padding: 60px 0 60px 0;
$template-games-page-v1-section-font-color: $dark-text-color;


// Template News List V1 | _template-news-list-v1
$template-news-list-v1-section-alt-bg-color: darken($bg-main, 5%);
$template-news-list-v1-section-padding: 30px 0;
$template-news-list-v1-section-font-color: $dark-text-color;

// Template News Article | _template-news-article.scss
$template-news-article-v1-section-padding: 30px 0;
$template-news-article-v1-section-font-color: $dark-text-color;
$template-news-article-v1-date-font-size: 11px;
$template-news-article-v1-date-margin-bottom: 15px;
$template-news-article-v1-date-font-weight: 700;


// Carousel properties | _carousel.scss | cs2
$carousel-caption-bg: rgba(0, 0, 0, 0.7);             // Caption background / opacity
$carousel-title-color: $light-text-color;             // Casino title color
$carousel-title-size: 25px;                           // Casino title size
$carousel-bonus-color: $light-text-color;             // Bonus color
$carousel-bonus-size: 20px;                           // Bonus font size
$carousel-bonus-weight: 600;                          // Bonus font weight


// Pricing table properties | _price-tables.scss | cs3
$price-table-text-color: $dark-text-color;                        // font color of text
$price-table-margin-top: 35px;                        // top margin of tables
$price-table-heading-padding: 10px;                   // padding around logo
$price-table-heading-bg-color: $theme-light-bg;                  // background color around logo
$price-table-row-padding: 15px;                       //
$price-table-row-bg-color: #fff;
$price-table-row-bg-color-even: #F8F8F8;
$price-table-star-color: $star-rating-color;          // star rating
$price-table-bonus-size: 25px;
$price-table-bonus-color: $dark-text-color;
$price-table-bonus-weight: 400;



// Software VS | _softwarelist-compare-two.scss | cs4
$software-vs-border: $component-border;
$software-vs-vs-bg-color: $theme1;                      // background color of the VS element
$software-vs-vs-text-color: $light-text-color;          // color of the VS element
$software-vs-vs-width: 60px;                            // width of the VS element
$software-vs-vs-font-size: 30px;                        // font size of VS element
$software-vs-heading-bg-color: $theme1;                 // heading background color
$software-vs-heading-link-color: $light-text-color;     // link color in heading
$software-vs-link-size: 20px;                           // link size
$software-vs-row-bg-odd: $theme2;                       // color of odd rows
$software-vs-row-bg-even: darken($theme2, 10%);         // color of even rows
$sofwarelist-logo-bg: $theme2;                          // color around the screenshot



// Breadcrumbs properties | _breadcrumbs.scss
$breadcrumbs-bg: none;                                 // background for breadcrumbs; default none
$breadcrumbs-font-size: 13px;                          // breadcrumb font size
$breadcrumb-padding: 8px 15px;

// Footer properties | _footer.scss | cs7
$footer-bg-color: #1d1d1d;                          // footer
$footer-sub-bg-color: $navbar-bg-color;             // footer-sub bg color
$footer-margin-top: 30px;                           // space above footer
$footer-links-height: 140px;                        // height of area for footer links
$footer-links-padding: 40px;                        // adjust padding for footer links
$footer-links-color: #ddc9aa;
$footer-links-font-size: 12px;
$footer-sub-min-height: 80px;                       // minimum height for footer-sub
$footer-sub-margin-top: 40px;                       // add space above of footer-sub outside
$footer-sub-font-size: 13px;
$footer-links-font-weight: 700;
$footer-sub-padding-top: 20px;                      // add space above text in footer-sub
$footer-sub-back-icon-size: 30px;
$footer-sub-back-icon-padding: 5px;
$footer-sub-back-icon-bg-color: rgba(0,0,0,0.2);
$footer-sub-back-icon-color: white;


// Social share button | _social-share.scss | cs10
$share-share-width: 51px;                       // fill width of dropdown menu
$share-font-color: #FFFFFF!important;
$share-ul-margin: 0;                            // drop down directly below share button
$share-dropdown-width: 61px;                    // dropdown container width
$share-font-size: 16px;
$share-dropdown-margin: 3px 0 3px 4px;
$share-twitter-bg-color: #3399CC;
$share-facebook-bg-color: #3D5B96;
$share-google-bg-color: #DD3F34;
$share-linkedin-bg-color: #1884BB;
$share-pinterest-bg-color: #CC1E2D;
$share-mail-bg-color: #FFC90E;


// Item: Overview V1 | cs12
$item-overview-font-size: 15px;
$item-overview-font-color: $dark-text-color;


// Item: Deposit Methods | _item-deposit-methods.scss | cs13
$deposit-methods-font-size: $font-size-base;
$deposit-methods-color: $dark-text-color;


// Item Header Mast V1 | _item-mast-v1.scss | cs15
$mast-v1-bg: $theme1;                                  // background color
$mast-v1-font-color: $light-text-color;                // Color of all text not explicitly assigned a color
$mast-v1-border-radius: 10px;                           // border radius of container
$mast-v1-padding: 50px;                                // padding inside the banner
$mast-v1-rating-size: 20px;                            // determines the size of the star rating
$mast-v1-logo-bg-color: rgba(0,0,0,0.3);               // color of the logo background
$mast-v1-logo-bg-radius: 50%;                          // circle by default; tweak lower for square
$mast-v1-title-size: 33px;                             // Cation title font size
$mast-v1-title-weight: 400;
$mast-v1-title-color: $light-text-color;
$mast-v1-description-color: black;
$mast-v1-bonus-size: 20px;                             // size of bonus text
$mast-v1-bonus-color: yellow;                         // color of bonus text
$mast-v1-bonus-weight: 500;
$mast-v1-bonus-text-transform: uppercase;
$mast-v1-rating-color: red;




// Softwarelist Overview | _softwarelist-quick-overview.scss |cs16
$softwarelist-overview-heading-bg-color: $toplist-headings-bg;
$softwarelist-overview-heading-link-size: 15px;
$softwarelist-overview-heading-link-color: white;
$softwarelist-overview-border: $component-border;
$softwarelist-overview-image-bg-color: $theme-light-bg;
$softwarelist-overview-row-color-odd: $theme-light-bg;
$softwarelist-overview-row-color-even: darken($theme2, 10%);
$softwarelist-overview-item-text-size: 15px;
$softwarelist-overview-item-font-color: dark-text-color;


// List Group | _list-group.scss | cs17
$list-group-item-font-size: 15px;                               // Font size of the menu item
$list-group-item-bg-color: $theme-light-bg;                              // Background color for menu item
$list-group-item-font-color: $dark-text-color;
$list-group-margin: 20px 0;
$list-group-border: $component-border;

// Modal Demo | _modal.scss
$modal-header-color: $dark-text-color;
$modal-body-p-color: $dark-text-color;



// News list | _news-list.scss | cs19
$news-list-grid-list-heading-font-size: 18px;
$news-list-grid-bg-color: $theme-light-bg;
$news-list-grid-border: $component-border;
$news-list-grid-heading-font-size: 15px;
$news-list-grid-heading-link-color: $dark-text-color;
$news-list-grid-date-font-size: 11px;
$news-list-grid-date-font-color: $dark-text-color;
$news-list-grid-date-font-weight: 600;
$news-list-grid-description-font-size: 13px;
$news-list-grid-description-font-color: $dark-text-color;
$news-list-grid-review-font-size: 14px;
$news-list-grid-review-text-transform: uppercase;
$news-list-grid-review-font-color: none;




// Popover properties | _popover.scss | cs21
$popover-btn-color: $theme-light-bg;
$popover-head-bg-color: $theme3;
$popover-head-font-size: 14px;
$popover-content-font-size: 14px;


// Star ratings | _star-rating.scss | cs26 - cs28
$starratingfontsize-lg: ($font-size-base + 2px);
$starratingfontsize-md: $font-size-base;
$starratingfontsize-sm: ($font-size-base - 2px);



// Sidebar properties
$container-title-margin: 20px 14px;                   // container title margins
$sidebar-margin: 5px 0;                              // top margin between .recommended list items
$sidebar-margin-wrap: 16px 0;                         // align sidebar wrapper with content wrapper
$sidebar-border-radius: 4px;                          // sidebar border radius
$sidebar-padding: 10px 6px;                           // padding on sidebar content



// Item Supported Platforms | _supported-platforms.scss | cs30 - cs31
$supported-platforms-font-size: 20px;
$supported-platforms-icon-size: 20px;
$supported-platforms-icon-color: #a0a0a0;
$supported-platforms-border: 1px solid #dcdcdc;




// Tabs properties | _tabs.scss | cs32
$tabs-bg-color: $theme-light-bg;
$tabs-link-color: $dark-text-color;
$tabs-content-text-color: $dark-text-color;
$tabs-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.7);
$tabs-margin-bottom: 30px;
$tabs-nav-border-bottom: 2px solid #DDD;            // divider between header and content
$tabs-nav-font-color: #666;
$tabs-a-hover-color: #4285F4;                       // link color on hover
$tabs-content-inner-padding: 15px 0;
$tabs-content-outer-padding: 20px;
$tabs-content-font-size: 16px;



// Thumbs Items Captions | _thumbs-items-captions.scss | cs33
$thumbs-items-item-name-size: 15px;
$thumbs-items-bg-color: $theme-light-bg;
$thumbs-items-bottom-space: 10px 0;
$thumbs-items-rating-align: 10px;
$thumbs-items-bonus-size: 15px;
$thumbs-items-rating-color: red;
$thumbs-items-text-color: $dark-text-color;
$thumbs-items-border: 1px solid #333;



// Thumbs Games Captions | _thumbs-games-captions.scss | cs34
$games-captions-game-name-font-size: 15px;                                   // Font size of game name
$games-captions-game-name-font-weight: 700;
$games-captions-game-name-font-color: $dark-text-color;
$games-captions-card-color: $theme2;                          //
$games-captions-card-hover-color: darken($games-captions-card-color, 5%);
$games-captions-text-color: $dark-text-color;
$games-captions-star-rating-color: gold;
$games-captions-small-review-font-color: red;    // color of the review link for small devices



// Thumbs Games | _thumbs-games.scss | cs35
$thumbs-games-link-color: $light-text-color;
$thumbs-games-link-font-weight: 600;                     // font weight for title / link
$thumbs-games-link-size: 15px;
$thumbs-games-bg-color: $theme-light-bg;
$thumbs-games-caption-bg: rgba(0, 0, 0, 0.7);                    //




// Toplist: Featured Top | _toplist-featured-top.scss | cs36
$toplist-feature-top-feature-text-color: $light-text-color;
$toplist-feature-top-heading-bg: $toplist-headings-bg;
$toplist-feature-top-feature-bg: $toplist-features-color;
$toplist-feature-top-headin-size: 15px;
$toplist-feature-top-headin-text: $light-text-color;
$toplist-feature-top-row-text-color: $dark-text-color;
$toplist-feature-top-row-text-size: 15px;                     // item font size
$toplist-feature-top-align: 30px;                             // this adds padding top the top of the elements that need to align with logo
$toplist-feature-top-border: $component-border;               // replace with 'none' for no border
$toplist-feature-top-rating-color: $star-rating-color;
$toplist-feature-top-row-color-odd: $theme2;
$toplist-feature-top-row-color-even: darken($theme2, 10%);


// Toplist: Compare Vs | _toplist-compare-vs.scss | cs37
$toplist-compare-header-size: 20px;
$toplist-compare-bonus-font-size: 20px;
$toplist-compare-bonus-font-color: $bonus-font-color;
$toplist-compare-bonus-font-weight: 600;
$toplist-compare-item-heading-text-color: $light-text-color;
$toplist-compare-item-heading-color: $toplist-headings-bg;        // heading background color | default $theme1
$toplist-compare-item-color: $theme2;                             //
$toplist-compare-font-size: 15px;
$toplist-compare-outer-bg: #f9f9f9;
$toplist-compare-footer-bg: $theme2;
$toplist-compare-footer-text-color: $dark-text-color;
$toplist-compare-footer-font-size: 15px;
$toplist-compare-item-text-color: $dark-text-color;
$toplist-compare-border: $component-border;                        // replace with 'none' for no border
$toplist-compare-row-even: darken($theme2, 10%);
$toplist-compare-vs-text-size: 40px;
$toplist-compare-vs-text-color: $light-text-color;
$toplist-compare-vs-width: 70px;





// Item: Featured V1 | _item-featured-V1.scss | cs38
$item-featured-v1-bg-color: $toplist-features-color;
$item-featured-v1-casino-name-font-size: 15px;
$item-featured-v1-description-color: $light-text-color;     // this value changes the color of the casino name and description
$item-featured-v1-description-font-size: 11px;              // font size of the description text
$item-featured-v1-bonus-top-size: 15px;
$item-featured-v1-bonus-mid-size: 30px;
$item-featured-v1-bonus-bottom-size: 28px;
$item-featured-v1-bonus-font-color: $light-text-color;
$item-featured-v1-bonus-padding: 10px 20px;
$item-featured-v1-software-font-size: 15px;
$item-featured-v1-software-padding: 20px;
$item-featured-v1-software-color: $light-text-color;
$item-featured-v1-review-padding: 20px 0;
$item-featured-v1-star-rating-color: $star-rating-color;


// Toplist Free Spins V1 | _toplist-free-spins-v1.scss | cs40

$toplist-free-spins-heading-bg: $toplist-headings-bg;
$toplist-free-spins-heading-text-color: $light-text-color;
$toplist-free-spins-item-bg-color: $theme-light-bg;
$toplist-free-spins-heading-font-size: 18px;
$toplist-free-spins-heading-padding: 15px;
$toplist-free-spins-item-padding: 0 15px;
$toplist-free-spins-inner-align-padding: 40px 0 0 0;   //this padding shorthand will be applied to every column for every item(row)
$toplist-free-spins-bonus-font-size: 20px;
$toplist-free-spins-bonus-color: $bonus-font-color;
$toplist-free-spins-bonus-weight: 600;
$toplist-free-spins-bonus-padding: $toplist-free-spins-inner-align-padding;
$toplist-free-spins-amount-font-size: 40px;
$toplist-free-spins-amount-color: $bonus-font-color;
$toplist-free-spins-amount-weight: 600;
$toplist-free-spins-amount-padding: $toplist-free-spins-inner-align-padding;
$toplist-free-spins-code-font-size: 15px;
$toplist-free-spins-code-padding: $toplist-free-spins-inner-align-padding;
$toplist-free-spins-code-font-color: lightgray;
$toplist-free-spins-rating-font-size: 15px;
$toplist-free-spins-rating-padding: $toplist-free-spins-inner-align-padding;
$toplist-free-spins-rating-font-color: gold;
$toplist-free-spins-button-padding: $toplist-free-spins-inner-align-padding;
$toplist-free-spins-footer-font-size: 15px;
$toplist-free-spins-footer-icon-color: #0986f0 !important;
$toplist-free-spins-border: $component-border;



// Toplist No Deposit V1 | _toplist-no-deposit-v1.scss | cs41

$toplist-no-deposit-heading-bg: $toplist-headings-bg;
$toplist-no-deposit-heading-text-color: $light-text-color;
$toplist-no-deposit-item-bg-color: $theme-light-bg;
$toplist-no-deposit-heading-font-size: 18px;
$toplist-no-deposit-heading-padding: 15px;
$toplist-no-deposit-item-padding: 0 15px;
$toplist-no-deposit-inner-align-padding: 40px 0 0 0;   //this padding shorthand will be applied to every column for every item(row)
$toplist-no-deposit-bonus-font-size: 20px;
$toplist-no-deposit-bonus-color: $bonus-font-color;
$toplist-no-deposit-bonus-weight: 600;
$toplist-no-deposit-bonus-padding: $toplist-no-deposit-inner-align-padding;
$toplist-no-deposit-amount-font-size: 40px;
$toplist-no-deposit-amount-color: $bonus-font-color;
$toplist-no-deposit-amount-weight: 600;
$toplist-no-deposit-amount-padding: $toplist-no-deposit-inner-align-padding;
$toplist-no-deposit-code-font-size: 15px;
$toplist-no-deposit-code-padding: $toplist-no-deposit-inner-align-padding;
$toplist-no-deposit-code-font-color: lightgray;
$toplist-no-deposit-rating-font-size: 15px;
$toplist-no-deposit-rating-padding: $toplist-no-deposit-inner-align-padding;
$toplist-no-deposit-rating-font-color: gold;
$toplist-no-deposit-button-padding: $toplist-no-deposit-inner-align-padding;
$toplist-no-deposit-footer-font-size: 15px;
$toplist-no-deposit-footer-icon-color: #0986f0 !important;
$toplist-no-deposit-border: $component-border;


// Toplist Payout Games Featured Left | _toplist-games-payout.scss | cs42
$games-payout-heading-bg: $toplist-headings-bg;
$games-payout-heading-text-color: $light-text-color;
$games-payout-item-font-size: 15px;
$games-payout-item-font-color: $dark-text-color;
$games-payout-row-color-odd: $theme2;
$games-payout-row-color-even: darken($theme2, 10%);
$games-payout-featured-bg: $toplist-features-color;
$games-payout-border: none;
$games-payout-bordercount: 0;     // if border is not 'none', this number represents the number of pixels to compensate for
$games-payout-rating-color: $star-rating-color;
$games-payout-feature-rating-color: $star-rating-color;
$games-payout-featured-text-color: $light-text-color;
$games-payout-logo-width: 125px;
$games-payout-feature-bonus-size: 17px;
$games-payout-feature-bonus-color: $bonus-font-color;
$games-payout-feature-bonus-weight: 600;
$games-payout-margin: 20px 0;



// Toplist Games Count Featured Right | _toplist-games-featured-right.scss | cs43
$games-count-heading-bg: $toplist-headings-bg;
$games-count-heading-text-color: $light-text-color;
$games-count-item-font-size: 15px;
$games-count-row-color-odd: $theme2;
$games-count-row-color-even: darken($theme2, 10%);
$games-count-featured-bg: $toplist-features-color;
$games-count-featured-text-color: $light-text-color;
$games-count-border: $component-border;
$games-count-bordercount: 8;
$games-count-rating-color: $star-rating-color;
$games-count-logo-width: 125px;
$games-count-feature-bonus-size: 17px;
$games-count-feature-bonus-color: $bonus-font-color;
$games-count-feature-bonus-weight: 600;

// Toplist Option V1 | _toplist-v1.scss | cs45

$toplist-v1-heading-bg: $toplist-headings-bg;
$toplist-v1-heading-text-color: $light-text-color;
$toplist-v1-item-bg-color: $theme-light-bg;
$toplist-v1-title-color: #222;
$toplist-v1-rating-color: $star-rating-color;
$toplist-v1-heading-font-size: 18px;
$toplist-v1-heading-padding: 15px;
$toplist-v1-item-padding: 20px 10px;
$toplist-v1-title-size: 15px;
$toplist-v1-title-padding: 14px 0 0 0;
$toplist-v1-bonus-font-size: 20px;
$toplist-v1-bonus-color: $bonus-font-color;
$toplist-v1-bonus-weight: 600;
$toplist-v1-bonus-padding: 14px 10px 0 0;
$toplist-v1-percent-font-size: 15px;
$toplist-v1-percent-padding: 14px 0 0 0;
$toplist-v1-payout-font-size: 15px;
$toplist-v1-payout-padding: 14px 0 0 0;
$toplist-v1-button-padding: 14px 0 0 0;
$toplist-v1-footer-font-size: 15px;
$toplist-v1-footer-icon-color: #0986f0 !important;
$toplist-v1-border: $component-border;


// Toplist: V2 | _toplist-v2.scss | cs46
$toplist-v2-heading-bg-color: none;                 // panel background
$toplist-v2-heading-font-size: 15px;                // heading font size
$toplist-v2-heading-font-color: $dark-text-color;   // heading font color
$toplist-v2-heading-font-weight: 500;               // heading font weight
$toplist-v2-item-padding: 20px 0 0 0;                     // align items with logo via top padding
$toplist-v2-panel-bg-color: $theme-light-bg;             // panel row color
$toplist-v2-panel-bg-hover-color: darken($toplist-v2-panel-bg-color, 5%);
$toplit-v2-more-font-size: 11px;                    // font size of the "click panel" notification
$toplit-v2-more-font-color: gray;                   // font color of the "click panel" notification
$toplist-v2-casino-font-size: 15px;                 // casino name font size
$toplist-v2-casino-font-color: $dark-text-color;
$toplist-v2-rating-color: $star-rating-color;       // star rating color
$toplist-v2-bonus-font-size: 15px;                  // bonus offer font size
$toplist-v2-bonus-font-color: $dark-text-color;     // bonus offer font color
$toplist-v2-software-font-size: 12px;               // software font size
$toplist-v2-software-font-color: $dark-text-color;  // software font color
$toplist-v2-country-font-size: 13px;                // "players accepted" section font size
$toplist-v2-country-font-color: $dark-text-color;   // "players accepted" section font color
$toplist-v2-country-img-width: 15px;
$toplist-v2-flag-img-height: 11px;
$toplist-v2-review-text-transform: uppercase;
$toplist-v2-collapse-casino-font-size: 17px;
$toplist-v2-collapse-casino-font-weight: 600;
$toplist-v2-collapse-casino-font-color: $dark-text-color;
$toplist-v2-collapse-description-font-size: 15px;
$toplist-v2-collapse-description-font-color: $dark-text-color;
$toplist-v2-collapse-btn-color: none;
$toplist-v2-collapse-btn-font-color: $light-text-color;
$toplist-v2-collapse-btn-font-size: 18px;
$toplist-v2-collapse-read-review-font-color: none;
$toplist-v2-collapse-read-review-font-size: 14px;
$toplist-v2-collapse-read-review-font-transform: uppercase;
$toplist-v2-screenshots-border: 1px solid black;


// Toplist Option V4 Tumbler | _toplist-v4-tumbler.scss | cs48
$tumbler-rating-color: $star-rating-color;
$tumbler-bonus-size: 20px;
$tumbler-bonus-color: $bonus-font-color;
$tumbler-bonus-weight: 600;
$tumbler-bg-color: darken($theme2, 10%);
$tumbler-border: $component-border;


// Toplist Collapse | _toplist-collapse.scss | cs49
$toplist-collapse-item-bg-odd: $theme2;
$toplist-collapse-item-bg-even: darken($theme2, 10%);
$toplist-collapse-border: $component-border;
$toplist-collapse-heading-text-color: $light-text-color;
$toplist-collapse-heading-bg: $toplist-headings-bg;







// Toplist Payment Methods with Featured Item | _toplist-payment-methods.scss | cs50 - cs51
$payment-methods-heading-padding: 15px;               // padding amount on heading
$payment-methods-heading-size: 15px;                  // size of the heading text
$payment-methods-heading-bg: $theme1;
$payment-methods-heading-text-color: $light-text-color;
$payment-methods-a-size: 15px;                        // size of the casino link
$payment-methods-font-size: 15px;                     // size of the rest of the fonts per item row
$payment-methods-border: $component-border;
$payment-methods-row-color-even: $theme2;
$payment-methods-row-color-odd: darken($theme2, 10%);


// Toplist Quick Overview | _toplist-quick-overview.scss | cs52
$toplist-overview-heading-bg: $theme1;
$toplist-overview-heading-text-color: $light-text-color;
$toplist-overview-header-padding: 15px;
$toplist-overview-heading-font-size: 15px;
$toplist-overview-row-color-odd: $theme2;
$toplist-overview-row-color-even: darken($toplist-overview-row-color-odd, 10%);
$toplist-overview-row-color-hover: darken($toplist-overview-row-color-even, 20%);
$toplist-overview-rating-color: red;
$toplist-overview-borders: $component-border;
$toplist-overview-bonus-font-size: 20px;
$toplist-overview-bonus-color: $dark-text-color;
$toplist-overview-bonus-font-weight: 400;
$toplist-overview-software-font-size: 15px;
$toplist-overview-software-color: $dark-text-color;
$toplist-overview-software-font-weight: 400;
$toplist-overview-payout-font-size: 15px;
$toplist-overview-payout-color: $dark-text-color;
$toplist-overview-payout-font-weight: 400;




// toplist Security Overview | _toplist-security-overview.scss | cs53
$toplist-security-heading-bg: $toplist-headings-bg;
$toplist-security-heading-text-color: $light-text-color;
$toplist-security-row-color-odd: $theme2;
$toplist-security-row-color-even: darken($theme2, 10%);
$toplist-security-border: $component-border;



//Accordion properties | _accordion-default.scss | cs54
$accordion-button-color: $theme1;                     // button color
$accordion-panel-bg: $theme2;                         // background color inside panel
$accordion-title-color: $light-text-color;                         // font color on button
$accordion-title-size: 20px;                          // font size on button
$accordion-button-padding: 25px;                      // adjust button size with padding
$accordion-panel-padding: 40px 40px;                  // spacing inside panel content
$accordion-body-border-radius: 4px;
$accordion-title-border-radius: 4px;                  // border radius for title button
$accordion-border: none;                              // border for entire accordion panel
$accordion-content-color: $dark-text-color;                      // content font color



// Jumbotron properties | _jumbotron-scss | cs56 - cs57
$jumbotron-bg: $theme2;                               // background for the container
$jumbotron-text-color: $dark-text-color;
$jumbotron-title-size: 56px;                          // size of the title message
$jumbotron-p-size: 15px;                              // size of the paragraph text
$jumbotron-bonus-size: 25px;
$jumbotron-padding: 50px;





// Recommended Casinos Toplist/Sidebar
$container-title-size: 18px;                          // title size of container ie. Recommended Casinos
$casino-title: 10px;                                  // casino names
$casino-title-weight: 200;                            // casino name weight
$casino-title-line-height: 1.7em;                     // line height for spacing casino names






// Toplist Games Offers Combined
$offers-combined-header-bg: $theme2;                  // header background color
$offers-combined-header-size: 15px;                   // header font size
$offers-combined-item-font-size: 15px;                // Font size of the item rows



// Item: Screenshots | _item-screenshots.scss | cs59
$item-screenshots-border: $component-border;
$item-screenshots-border-radius: 5px;
$item-screenshots-img-shadow: $wrapper-box-shadow;
$item-screenshots-padding: 20px 5px;



// News List Full Width | _news-list-full-width.scss | cs60
$news-list-full-width-list-heading-font-size: 18px;
$news-list-full-width-bg-color: $theme-light-bg;
$news-list-full-width-border: $component-border;
$news-list-full-width-heading-font-size: 13px;
$news-list-full-width-heading-link-color: $dark-text-color;
$news-list-full-width-date-font-size: 11px;
$news-list-full-width-date-font-color: $dark-text-color;
$news-list-full-width-date-font-weight: 600;
$news-list-full-width-description-font-size: 13px;
$news-list-full-width-description-font-color: $dark-text-color;
$news-list-full-width-review-font-size: 14px;
$news-list-full-width-review-text-transform: uppercase;
$news-list-full-width-review-font-color: none;
$news-list-full-width-margin-top: 40px;


// Item featured v2 | _item-featured-V2.scss | cs61


// Toplist Payment Methods Feature Side | _toplist-payment-methods-side.scss | cs62
$payment-methods-side-heading-bg: $toplist-headings-bg;
$payment-methods-side-heading-padding: 15px;
$payment-methods-side-heading-text-color: $light-text-color;
$payment-methods-side-heading-text-size: 15px;
$payment-methods-side-row-color-odd: $theme2;
$payment-methods-side-row-color-even: darken($theme2, 10%);


// Item: Banner V1 | _item-banner-v1.scss | cs63
$item-banner-v1-bg-color: none;
$item-banner-v1-bonus-size: 20px;
$item-banner-v1-bonus-color: $dark-text-color;
$item-banner-v1-border: $component-border;
$item-banner-v1-bonus-weight: 600;




// Accordion Item: Screenshots | _accordion-item.scss | cs64
$accordion-screenshots-text-color: $dark-text-color;
$accordion-screenshots-name-size: 15px;                   // casino-name
$accordion-screenshots-name-weight: 400;
$accordion-screenshots-bonus-size: 20px;                  // bonus offer share-font-size
$accordion-screenshots-bonus-color: lightblue;
$accordion-screenshots-bonus-weight: 600;
$accordion-screenshots-border: $component-border;
$accordion-screenshots-rating-color: $star-rating-color;  // star ratings color
$accordion-screenshots-body-border: none;                  // border for the dropped down section


// Toplist: Top 3 Casinos | _toplist-top-3.scss | cs65
$toplist-top-3-border: none;                 // choose border style
$toplist-top-3-bg-color: $theme-light-bg;
$toplist-top-3-logo-bg: lightblue;                        // this value is overwritten by html inline code
$toplist-top-3-casino-font-size: 17px;                    // casino font size
$toplist-top-3-casino-font-color: $dark-text-color;       // casino font color
$toplist-top-3-description-font-size: 11px;               // font-size for section under star rating
$toplist-top-3-description-font-color: $dark-text-color;
$toplist-top-3-bonus-font-size: 20px;                     // bonus font size
$toplist-top-3-bonus-font-color: $dark-text-color;        // bonus text color
$toplist-top-3-software-font-size: 13px;                  // font size of software
$toplist-top-3-software-color: $dark-text-color;
$toplist-top-3-country-font-size: 13px;                   // font size for "Players accepted... " section
$toplist-top-3-country-font-color: $dark-text-color;
$toplist-top-3-font-color: $dark-text-color;              // font color for other text elements
$toplist-top-3-box-shadow: $wrapper-box-shadow;
$toplist-top-3-margin: 20px 0;


// Toplist: Games Section | _toplist-games-section.scss | cs67
$toplist-games-section-heading-bg-color: $toplist-headings-bg;
$toplist-games-section-heading-font-color: $light-text-color;
$toplist-games-section-heading-margin-bottom: 5px;          // space below heading
$toplist-games-section-heading-font-size: 15px;
$toplist-games-section-heading-font-weight: 600;
$toplist-games-section-heading-border-radius: 4px;
$toplist-games-section-heading-img-margin-bottom: 10px;
$toplist-games-section-panel-shadow: $wrapper-box-shadow;
$toplist-games-section-bonus-font-size: 15px;
$toplist-games-section-bonus-font-color: $dark-text-color;
$toplist-games-section-margin: 20px 0;

// Item: Banner Top | _item-mast-v2.scss | cs68
$item-mast-v2-logo-border-radius: 4px;
$item-mast-v2-casino-font-size: 20px;
$item-mast-v2-casino-font-color: $light-text-color;
$item-mast-v2-rating-color: $star-rating-color;
$item-mast-v2-description-font-color: $light-text-color;
$item-mast-v2-bg-color: $theme1;
$item-mast-v2-sign-up-font-color: $light-text-color;
$item-mast-v2-sign-up-font-size: 11px;
$item-mast-v2-bonus-font-color: $light-text-color;
$item-mast-v2-bonus-font-size: 20px;

// Item: Banner Top | _item-mast-v3.scss | cs77
$item-mast-v3-logo-border-radius: 4px;
$item-mast-v3-heading-font-size: 20px;
$item-mast-v3-heading-font-color: $light-text-color;
$item-mast-v3-rating-color: gold;
$item-mast-v3-description-font-color: $light-text-color;
$item-mast-v3-description-font-size: 16px;
$item-mast-v3-bg-color: $toplist-features-color;
$item-mast-v3-sign-up-font-color: $light-text-color;
$item-mast-v3-sign-up-font-size: 11px;
$item-mast-v3-bonus-font-color: $light-text-color;
$item-mast-v3-bonus-font-size: 20px;


// Item: Screenshots Modals | _item-screenshots-modal.scss | cs69
$item-screenshots-modal-div-padding: 5px;                                               // padding between the 3 div elements
$item-screenshots-modal-plus-icon-color: white;                                         // color of the "plus" icon on hover
$item-screenshots-modal-plus-icon-font-size: 80px;                                      // font size of plus icon
$item-screenshots-modal-plus-icon-width: $item-screenshots-modal-plus-icon-font-size;   // leave this value as is to calculate center alignment of plus icon
$item-screenshots-modal-plus-icon-height: $item-screenshots-modal-plus-icon-font-size;  // leave this value as is to calculate center alignment of plus icon
$item-screenshots-modal-border: $component-border;                                      // border around the modal button
$item-screenshots-modal-box-shadow: $wrapper-box-shadow;                                // box shadow
$item-screenshots-modal-img-border-radius: 5px;                                         // border radius fo screenshot modal content
$item-screenshots-modal-hover-color: brightness(20%);                                   // filter value to set brightness of hover color
$item-screenshots-modal-close-button-color: red;
$item-screenshots-modal-close-button-size: 25px;

// Item Technical Menu | _item-technical-menu.scss | cs70
$techincal-menu-margin-top: 50px;
$technical-menu-heading-top-bg-color: lightgray;
$technical-menu-padding: 15px;
$technical-menu-heading-bg-color: white;
$technical-menu-heading-font-color: $dark-text-color;
$technical-menu-body-bg-color: none;
$technical-menu-info-head-font-color: gray;
$technical-menu-info-body-font-color: $dark-text-color;
$technical-menu-info-star-rating-color: $star-rating-color;






// Sidebar: Top 10 Casinos | _sidebar-top-10.scss | cs71
$sidebar-top-10-item-bg-color: $theme-light-bg;
$sidebar-top-10-border: $component-border;
$sidebar-top-10-casino-font-size: 13px;
$sidebar-top-10-casino-font-weight: 500;
$sidebar-top-10-casino-font-color: $dark-text-color;
$sidebar-top-10-logo-bg-color: yellow;
$sidebar-top-10-logo-border-radius: 5px;

$sidebar-top-10-rating-color: $star-rating-color;
$sidebar-top-10-review-font-size: 11px;
$sidebar-top-10-review-font-weight: 600;
$sidebar-top-10-margin: 30px 0;


// Item: banner V2 | _item-banner-v2.scss | cs72
$item-banner-v2-border: $component-border;
$item-banner-v2-bg-color: $banner-bg;
$item-banner-v2-caption-font-size: 15px;
$item-banner-v2-caption-font-color: $light-text-color;
$item-banner-v2-bonus-font-size: 25px;
$item-banner-v2-bonus-font-color: $light-text-color;
$item-banner-v2-button-width: 250px;



// Item: Banner V3 | _item-banner-v3.scss | cs73
$item-banner-v3-bg-color: $banner-bg;
$item-banner-v3-bonus-font-size: 25px;
$item-banner-v3-bonus-font-color: $light-text-color;
$item-banner-v3-border: $component-border;
$item-banner-v3-border-radius: 5px;


// Item Text Slider | _item-text-slider.scss | cs78
$text-slider-min-height: 160px;     // set this height to prevent the wrapper from readjusting the height for the smaller slides
$text-slider-bg-color: $banner-bg;
$text-slider-headings-padding: 20px 0 20px 45px;
$text-slider-right-text-padding: 20px 80px 20px 30px;
$text-slider-font-color: $light-text-color;
$text-slider-font-size: 14px;
$text-slider-jackpot-font-size: 30px;
$text-slider-jackpot-font-weight: 800;
$text-slider-jackpot-font-color: red;
$text-slider-margin: 0 0 20px 0;


// Item: Banner V4 | _item-banner-v4.scss | cs79
$item-banner-v4-bg-color: $banner-bg;
$item-banner-v4-heading-font-color: $light-text-color;
$item-banner-v4-heading-font-size: 30px;
$item-banner-v4-bonus-font-size: 25px;
$item-banner-v4-bonus-font-color: red;
$item-banner-v4-border: $component-border;
$item-banner-v4-border-radius: 5px;
$item-banner-v4-row-padding: 20px 30px 0 30px;
$item-banner-v4-caption-padding: 20px 0 0 0;

// Item All Bonusus | _item-all-bonuses.scss | cs80
$item-all-bonuses-bonus-margin: 60px 0;
$item-all-bonuses-bonus-item-padding: 15px 35px;
$item-all-bonuses-item-bg-color: $theme-light-bg;
$item-all-bonuses-offer-font-color: orange;
$item-all-bonuses-bonus-code-border: 3px dashed lightblue;
$item-all-bonuses-wagering-bg-color: orange;
$item-all-bonuses-wagering-font-color: gray;
$item-all-bonuses-code-font-size: 18px;
$item-all-bonuses-code-font-color: gray;


// Item: Banner V5 Mobile | _item-banner-v5.scss | cs81
$item-banner-v5-bg-color: $banner-bg;
$item-banner-v5-bonus-font-size: 25px;
$item-banner-v5-bonus-font-color: $light-text-color;
$item-banner-v5-border: $component-border;
$item-banner-v5-border-radius: 5px;
$item-banner-v5-icon-bg-color: $theme-light-bg;
$item-banner-v5-icon-size: 40px;
$item-banner-v5-icon-color: gray;




// Item: Banner Terms | _item-banner-terms.scss | cs84
$item-banner-terms-bg-color: $banner-bg;
$item-banner-terms-left-div-padding: 30px 30px 0 30px;
$item-banner-terms-right-div-padding: 30px 30px 0 30px;
$item-banner-terms-font-size: 40px;
$item-banner-terms-font-color: $light-text-color;
$item-banner-terms-border: $component-border;
$item-banner-terms-border-radius: 5px;
$item-banner-terms-more-font-size: 18px;
$item-banner-terms-more-font-color: red;
$item-banner-terms-well-h2-size: 38px;
$item-banner-terms-well-p-size: 18px;
$item-banner-terms-panel-body-bg-color: $theme-light-bg;
$item-banner-terms-panel-body-padding: 25px;


// Header V1 | _header-v1 | cs82
$header-v1-link-font-color: $dark-text-color;
$header-v1-link-font-weight: 800;
$header-v1-link-hover-border-bottom: 3px solid red;
$header-v1-bg-color: $theme-light-bg;



// Social share button V2 | _social-share.scss | cs83
$share-v2-share-button-font-size: 15px;
$share-v2-share-button-font-weight: 800;
$share-v2-ul-margin: 0;                            // drop down directly below share button
$share-v2-dropdown-width: 100%;                    // dropdown container width
$share-v2-font-size: 25px;
$share-v2-twitter-color: #3399CC;
$share-v2-facebook-color: #3D5B96;
$share-v2-google-color: #DD3F34;
$share-v2-linkedin-color: #1884BB;
$share-v2-pinterest-color: #CC1E2D;
$share-v2-mail-color: #FFC90E;

// Sticky Menu | _sticky-menu | cs85
$sticky-menu-bg-color: white;                      // bg color
$sticky-menu-border-bottom: 3px solid red;         // the border at the bottom when hover or active
$sticky-menu-link-font-color: $dark-text-color;    // link font color
$sticky-menu-link-font-size: 16px;
$sticky-menu-link-font-weight: 600;
$sticky-menu-link-padding-bottom: 15px;            // push the bottom border down


$email-fluid-bg-color: $banner-bg;
$email-fluid-font-size: 21px;
$email-fluid-font-color: $light-text-color;
$email-fluid-button-color: red;



// Footer V1 | _layouts/footer-v1.scss | cs90
$footer-v1-bg-color: black;                          // footer
$footer-v1-sub-bg-color: black;             // footer-sub bg color
$footer-v1-links-height: auto;                        // height of area for footer links
$footer-v1-links-padding: 20px 0 0 0;                        // adjust padding for footer links
$footer-v1-links-color: $light-text-color;
$footer-v1-links-font-size: 13px;
$footer-v1-sub-min-height: 80px;                       // minimum height for footer-sub
$footer-v1-sub-margin-top: 0;                       // add space above of footer-sub outside
$footer-v1-sub-font-size: 13px;
$footer-v1-links-font-weight: 700;
$footer-v1-sub-padding-top: 20px;                      // add space above text in footer-sub



// Back to top V1 | _back-to-top-v1.scss | cs91
$back-to-top-v1-size: 30px;
$back-to-top-v1-padding: 5px;
$back-to-top-v1-bg-color: lightblue;
$back-to-top-v1-color: white;
$back-to-top-v1-margin: 15px;



// Item: Banner Live Dealer | _item-banner-live-dealer.scss | cs92
$item-banner-live-dealer-bg-color: $banner-bg;
$item-banner-live-dealer-bonus-font-size: 25px;
$item-banner-live-dealer-border: $component-border;
$item-banner-live-dealer-border-radius: 5px;
$item-banner-live-dealer-left-div-padding: 30px 20px 0 60px;
$item-banner-live-dealer-right-div-padding: 40px 30px 30px 0;
$item-banner-live-dealer-heading-font-size: 24px;
$item-banner-live-dealer-heading-font-color: $light-text-color;
$item-banner-live-dealer-description-font-size: 15px;
$item-banner-live-dealer-description-font-color: $light-text-color;
$item-banner-live-dealer-link-font-size: 16px;
$item-banner-live-dealer-link-font-color: red;
$item-banner-live-dealer-panel-body-h2-size: 38px;
$item-banner-live-dealer-panel-body-p-size: 18px;
$item-banner-live-dealer-panel-body-bg-color: $theme-light-bg;
$item-banner-live-dealer-panel-body-padding: 25px;



// Games Categories Tabbed V1 | _games-categories-tab-v1.scss | cs86
$games-tabbed-v1-bg-color: $theme-light-bg;
$games-tabbed-v1-border: 1px solid #d8d8d8;
$games-tabbed-v1-title-font-size: 18px;   // currently the "slots by" section - to be made dynamic
$games-tabbed-v1-nav-title-font-size: 16px;   // tab nav font size
$games-tabbed-v1-nav-title-font-color: red;
$games-tabbed-v1-nav-bg-color-focus: darken($games-tabbed-v1-bg-color, 5%);
$games-tabbed-v1-nav-title-font-color-active: black;
$games-tabbed-v1-description-font-size: 14px;
$games-tabbed-v1-description-font-color: $dark-text-color;


// Games Categories Tabbed V2 | _games-categories-tab-v2.scss | cs87
$games-tabbed-v2-border: 1px solid #d8d8d8;
$games-tabbed-v2-title-font-size: 14px;
$games-tabbed-v2-heading-bg-color: $theme-light-bg;
$games-tabbed-v2-heading-font-color: $dark-text-color;
$games-tabbed-v2-heading-text-decoration: none;
$games-tabbed-v2-link-hover-color: red;
$games-tabbed-v2-link-bg-hover-color: none;                   // set if you want to override the default
$games-tabbed-v2-content-heading-size: 30px;                  // size of the heading inside the tabbed content
$games-tabbed-v2-content-heading-color: $dark-text-color;     // color of the heading inside the tabbed content
$games-tabbed-v2-content-p-size: 16px;
$games-tabbed-v2-content-bg-color: $theme-light-bg;
$games-tabbed-v2-content-p-color: $dark-text-color;
$games-tabbed-v2-content-footer-links-font-size: 14px;
$games-tabbed-v2-content-footer-links-font-weight: 700;
$games-tabbed-v2-content-footer-links-divider-font-weight: 100;
$games-tabbed-v2-content-footer-links-font-color: red;
$games-tabbed-v2-content-footer-links-hover-font-color: $dark-text-color;




// 8. item_quick_overview.scss
$item-overview-v2-border: 1px solid #dedede;
$item-overview-v2-banner-bg-color: $theme1;
$item-overview-v2-banner-border-radius: 5px;
$item-overview-v2-item-bg-color: $theme-light-bg;
$item-overview-v2-item-height: 150px;
$item-overview-v2-item-heading-font-size: 18px;
$item-overview-v2-item-heading-font-color: $dark-text-color;
$item-overview-v2-item-value-font-size: 15px;
$item-overview-v2-star-rating-color: gold;
$item-overview-v2-list-rating-font-size: 36px;
$item-overview-v2-list-rating-font-weight: 800;
$item-overview-v2-list-rating-font-color: #00aff0;
$item-overview-v2-list-rating-bott-font-size: 14px;
$item-overview-v2-value-font-color: red;    // games count and payout percent color
$item-overview-v2-bonus-heading-font-size: 15px;
$item-overview-v2-bonus-heading-font-color: $dark-text-color;
$item-overview-v2-bonus-font-size: 35px;
$item-overview-v2-bonus-font-color: red;

// Social Share V3 | _social-share.scss | cs93
$share-v3-share-font-size: 15px;
$share-v3-share-font-weight: 800;
$share-v3-ul-margin: 0;                            // drop down directly below share button
$share-v3-dropdown-width: 100%;                    // dropdown container width
$share-v3-font-size: 25px;
$share-v3-twitter-color: #3399CC;
$share-v3-facebook-color: #3D5B96;
$share-v3-google-color: #DD3F34;
$share-v3-linkedin-color: #1884BB;
$share-v3-pinterest-color: #CC1E2D;
$share-v3-mail-color: #FFC90E;


// Games Paginized V1 | _games-paginized-v1.scss | cs95
$games-paginized-v1-thumbnail-height: 295px;                                   // Font size of game name


// Games Play Demo V1 | _games-play-demo-v1.scss | cs96
$games-play-demo-v1-panel-padding: 0 15px 15px 15px;
$games-play-demo-v1-panel-bg-color: $theme-light-bg;
$games-play-demo-v1-panel-heading-bg-color: $theme-light-bg;
$games-play-demo-v1-rating-bg-color: $theme-light-bg;
$games-play-demo-v1-rating-border: none;
$games-play-demo-v1-rating-box-shadow: none;
$games-play-demo-v1-game-name-font-size: 26px;                                   // Font size of game name
$games-play-demo-v1-game-name-font-weight: 700;
$games-play-demo-v1-game-name-font-color: $dark-text-color;
$games-play-demo-v1-card-color: $theme2;                          //
$games-play-demo-v1-card-hover-color: darken($games-play-demo-v1-card-color, 5%);
$games-play-demo-v1-text-color: $dark-text-color;
$games-play-demo-v1-star-rating-color: gold;
$games-play-demo-v1-small-review-font-color: red;    // color of the review link for small devices



// Toplist: Top 3 Casinos | _toplist-top-3.scss | cs97
$toplist-top-4-spins-border: none;                 // choose border style
$toplist-top-4-spins-bg-color: whitesmoke;
$toplist-top-4-spins-logo-bg: lightblue;                        // this value is overwritten by html inline code
$toplist-top-4-spins-casino-font-size: 17px;                    // casino font size
$toplist-top-4-spins-casino-font-color: $dark-text-color;       // casino font color
$toplist-top-4-spins-amount-font-size: 25px;
$toplist-top-4-spins-amount-font-color: red;
$toplist-top-4-spins-bonus-font-size: 18px;                     // bonus font size
$toplist-top-4-spins-bonus-font-color: $dark-text-color;        // bonus text color
$toplist-top-4-spins-box-shadow: $wrapper-box-shadow;
$toplist-top-4-spins-margin: 20px 0;



// Item Banner V6 | _item-banner-v6.scss | cs98
$item-banner-v1-border: 1px solid #dedede;
$item-banner-v1-bg-color: #fff;
$item-banner-v1-total-bonus-font-size: 30px;
$item-banner-v1-free-bonus-text-color: #5dbb1d;
$item-banner-v1-star-color: #f1bd24;


// 4. toplist_option_more_info_flip.scss
$toplist_option_more_info_flip_card_shadow: 0 1px 2px 0 rgba(0,0,0,.3);
$toplist_option_more_info_flip_card_bg_color: #fff;
$toplist_option_more_info_flip_card_inner_bg: #f8f8f8;
$toplist_option_more_info_flip_card_inner_media_height: 180px;
$toplist_option_more_info_flip_card_inner_2_height: 170px;
$toplist_option_more_info_flip_card_inner_2_color: #888;
$toplist_option_more_info_flip_card_flip_anchor_color: rgb(56, 59, 64);
$toplist_option_more_info_flip_card_flip_anchor_font_size: 20px;
$toplist_option_more_info_flip_card_star_rating_color: #67B686;
$toplist_option_more_info_flip_card__status_color: #3C3C3C;
$toplist_option_more_info_flip_card__status_font_size: 12px;
$toplist_option_more_info_flip_card__status_inner_color: #FF333A;
$toplist_option_more_info_flip_card__status_inner_font_size: 22px;
$toplist_option_more_info_flip_card_flip_anchor_circle_color: #f8f8f8;
$toplist_option_more_info_flip_card_flip_anchor_circle_bg_color: $toplist_option_more_info_flip_card_flip_anchor_color;

$toplist_option_more_info_flip_sort_box_shadow: 0 1px 2px 0 rgba(0,0,0,.2);
$toplist_option_more_info_flip_sort_box_bg_color: #fff;
$toplist_option_more_info_flip_sort_box_font_size: 12px;
$toplist_option_more_info_flip_sort_box_text_color: #373B40;
$toplist_option_more_info_flip_nav_bg_color: #fff;
$toplist_option_more_info_flip_nav_box_shadow: 0 1px 2px 0 rgba(0,0,0,.3);
$toplist_option_more_info_flip_nav_color: #373b40;
$toplist_option_more_info_flip_nav_border: 1px solid #eee;
$toplist_option_more_info_flip_nav_active_color: #888;
$toplist_option_more_info_flip_nav_active_bg_color: #eee;




// Sidebar: Bonus Offer | _sidebar-bonus-offer.scss | cs101
$sidebar-bonus-offer-margin: 30px 0;
$sidebar-bonus-offer-heading-font-size: 15px;
$sidebar-bonus-offer-heading-font-color: $dark-text-color;
$sidebar-bonus-offer-heading-bg-color: inherit;
$sidebar-bonus-offer-item-bg-color: $theme-light-bg;
$sidebar-bonus-offer-border: $component-border;
$sidebar-bonus-offer-logo-bg-color: yellow;
$sidebar-bonus-offer-logo-border-radius: 5px;
$sidebar-bonus-offer-casino-font-size: 14px;
$sidebar-bonus-offer-casino-font-weight: 500;
$sidebar-bonus-offer-casino-font-color: $dark-text-color;
$sidebar-bonus-offer-bonus-font-size: 20px;
$sidebar-bonus-offer-bonus-font-color: $dark-text-color;
$sidebar-bonus-offer-spins-font-size: 16px;
$sidebar-bonus-offer-spins-font-color: $dark-text-color;




// Sidebar: Bonus Offer | _sidebar-games-new.scss | cs102
$sidebar-games-new-border: $component-border;
$sidebar-games-new-heading-font-size: 15px;
$sidebar-games-new-heading-font-color: $dark-text-color;
$sidebar-games-new-heading-bg-color: inherit;
$sidebar-games-new-item-bg-color: $theme-light-bg;
$sidebar-games-new-name-font-size: 13px;
$sidebar-games-new-name-font-weight: 600;
$sidebar-games-new-name-font-color: $dark-text-color;
$sidebar-games-new-software-font-size: 12px;
$sidebar-games-new-software-font-weight: 800;
$sidebar-games-new-software-font-color: brown;
$sidebar-games-new-margin: 30px 0;

// Sidebar Game Info | _sidebar-game-info.scss | cs103
$sidebar-game-info-heading-bg-color: inherit;
$sidebar-game-info-heading-font-size: 15px;
$sidebar-game-info-item-bg-color: $theme-light-bg;
$sidebar-game-info-item-font-size: 14px;
$sidebar-game-info-item-font-color: $dark-text-color;
$sidebar-game-info-value-font-size: 14px;
$sidebar-game-info-value-font-color: $dark-text-color;

// Games Thumbs More | _games-thumbs-more.scss | cs104
$games-thumbs-more-thumbnail-height: 295px;


// Games Thumbs Description | _games-thumbs-description.scss | cs105
$games-thumbs-description-bg-color: $theme-light-bg;
$games-thumbs-description-name-font-size: 18px;
$games-thumbs-description-name-font-color: $light-text-color;
