.footer-wrap {
	background-color: $footer-bg-color;
	margin-top: $footer-margin-top;
}
.footer-links {
	background-color: $footer-bg-color;
	height: $footer-links-height;
	padding: $footer-links-padding;
	font-size: $footer-links-font-size;
	ol {
		li {
			padding: $footer-links-spacing;
		}
		margin-left: 40px;
	}


	a {
		color: $footer-links-color;

	}
}
.footer-sub {
	background-color: $sub-footer-bg-color;
	min-height: $footer-sub-min-height;
	margin-top: $footer-sub-margin-top;
	font-size: $footer-sub-font-size;
	padding-top: $footer-sub-padding-top;
}