.navbar-wrapper {
	width: 100%;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	z-index: 20;
	height: $navbar-wrapper-height;
}
.navbar-inverse {
	height: auto;
	background-color: $navbar-bg-color;
}
.navbar {
	li {
		&:hover {
			background-color: $navbar-bg-hover-color;
		}
	}
}
.navbar-nav {
	>li {
		>a {
			padding-bottom: $navbar-item-padding-bottom;
			padding-top: $navbar-item-padding-top;
		;
		}
	}
}
.navbar-brand {
	float: left;
	font-size: 18px;
	height: 84px;
	line-height: 20px;
	padding: 8px;
}

.dropdown-submenu {
	position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
