.sidebar {

	.wrap {
		background-color: $wrapper-bg;
		width: 100%;
		border-radius: $sidebar-border-radius;
		box-shadow: $wrapper-box-shadow;
		overflow: hidden;
		padding: $sidebar-padding;
		margin: $sidebar-margin-wrap;
		ol {
			padding: $list-padding;
		}

		.list-group-item {
			background-color: #fff;
			border: none !important;
			padding: 2px;
		}
	}
	.news {
		li {
			height: auto;
			display: block;
			padding: $list-padding-item;
		}
	}
	.news-title {
		font-size: $news-title-size;
		font-weight: $news-title-weight;
	}
	.news-date {
		font-size: $news-date-size;
		font-weight: $news-date-weight;
		clear: both;
		display: block;
	}
	.news-description {
		font-size: $news-description-size;
		clear: both;
		display: block;
		margin-top: $news-description-margin-top;
		margin-bottom: $news-description-margin-bottom;
		a {
			font-weight: 600;
		}
	}
}