.sidebar {

	.wrap {
		background-color: $wrapper-bg;
		width: 100%;
		border-radius: $sidebar-border-radius;
		box-shadow: $wrapper-box-shadow;
		overflow: hidden;
		padding: $sidebar-padding;
		margin: $sidebar-margin-wrap;
		ol {
			padding: 10px;
		}

		.list-group-item {
			background-color: #fff;
			border: none !important;
			padding: 2px;
		}
	}

}
