.template-contact-v1 {
  .container-fluid {
    //padding: 0;
    .bg-alt {
      background-color: $template-contact-v1-section-alt-bg-color;
    }
    .content {
      padding: $template-contact-v1-section-padding;
      color: $template-contact-v1-section-font-color;
    }
  }

}
