.template-news-list-v1 {
  .container-fluid {
    .bg-alt {
      background-color: $template-news-list-v1-section-alt-bg-color;
    }
    .content {
      padding: $template-news-list-v1-section-padding;
      color: $template-news-list-v1-section-font-color;
    }
  }

}
